[2017-12-30 19:34] modante commented on #273
Sorry if I say something stupid, but comparing the routings of the 2 non-gateway routers, the one wich loosed internet connection listed 12 ARP addresses while the one working showed only 4 addresses:
[code]
After rebooting the router. internet came back and now shows 4 (instead 12) ARP addresses:

[code]
Also I would say (I will confirm) that in the moment when internet dropped, this line appeare

[2017-12-30 20:32] ilario commented on #273
This is the script you mentioned [bmx6hosts_dnsmasq_update](https://github.com/libremesh/lime-packages/blob/develop/packages/lime-proto-bmx6/src/bmx6hosts_dnsmasq_update).

[2017-12-30 22:51] modante commented on #273
@p4u I understand what you say. In all the cases, are the non-gateway routers the ones that lost internet connectivity, sometimes the WDR4300, others the WDR3600 and sometimes both.
If I reboot the gateway router, the problem persists, still there is no internet in the non-gateway routers till I reboot them.
Yesterday whilw one of the drops of internet connectivity I tried to ping 8.8.8.8 without

[2017-12-30 22:57] modante commented on #273
@p4u Also to say that when I am connected to a non-gateway router that drops internet connectivity, I can access to the rest of the routers of the mesh, LuCi, SSH, ect. The only thing wrong is that there is not internet

[2017-12-31 00:04] modante commented on #273
Now both non-gateway routers failed (less than 30 min after rebooting them!!!!)
[code]
[code]
[code]
[code]

[2017-12-31 12:12] modante commented on #273
Last night I tried to flash dev snapshot on WDR3600 but it had no wireless drivers neither DHCP (I thought i was bricked the device!!!!). Then I flashed again lede-17.01.2-lime-default-ar71xx-generic-tl-wdr3600-v1-squashfs-factory.bin, changed the channel of wifi 2.4GHz, selected WDR-3500 like primary gateway and has been working without issues till now (more than 12 hours). The thing is that befo

[2017-12-31 15:16] modante commented on #273
The WDR3500 with the clean firmware installed last night is working ok. I had a drop in internet connectivity a few minutes ago that returned automatically 3 minutes after. When the WDR4300 losts inet connectivity only returns after rebooting the router.
I am thinking to clean and flash the gateway router WDR3500 and setup WAN to observe what happens with WDR4300 and the clean WDR3600. Remember th

[2017-12-31 17:14] modante commented on #261
QoS looks like difficult for my skills.
Another question: is there an easy way to create a captive portal where users register the firs time and after that and depending of the group they belong can access to full or limited internet?
Thanks and regards :-)

[2017-12-31 23:08] modante commented on #265
I have solved it at "my way" ;-P
I think the problem is that watchping runs when booting and detects no-internet and run /etc/watchping/wan-fail.d/bmx6-gw that removes inet tunnel:
[code]
Then, what I did was to delay the execution of the watchping script adding sleep 10 at the beginning of /etc/init.d/watchping:
[code]
Cause it takes a time to connect to WAN via PPPoE, when boots, watchping it ta

[2018-01-01 15:25] ilario commented on #261
There's [Pitbull](https://github.com/libremesh/pitbull) being developed by @nicopace but I don't know if it's ready to use.

[2018-01-01 15:46] ilario commented on #265
Uh, I always thought it was running in cron!
Instead seems that has its own [loop time parameter](/libremesh/lime-packages/blob/develop/packages/watchping/files/usr/bin/watchping#L6) `pinginterval`.
So maybe fails to start 'cause that interface is not up when watchping is called?
@modante can you check if watchping is present in `ps` output when the `sleep 10` is not present?
Something like this s

[2018-01-01 16:00] dangowrt commented on #265
On Mon, Jan 01, 2018 at 03:46:08PM +0000, Ilario Gelmetti wrote:

Neither cron nor an explicit sleep is the right solution to this
problem, please don't do either of it as it adds an imcomplete
work-around for a problem which should be addressed in watchping's
init-script by adding the appropriate reload trigger and also
making sure it only starts once the corresponding interface is up.
There are

[2018-01-01 16:08] modante commented on #265
I am pretty sure. But from a novice point of view ;-)
I think that when watchping runs for fist time after booting, the WAN interface is still connecting, there are no pongs and then removes the inet tunnel. What I cannot understand is why doesn't announce the inet tunnel automatically when WAN finishes to connect. Without the Sleep 10, when the gateway router boots never announces the inet tunnel

[2018-01-01 16:18] modante commented on #273
Last night I flashed a clean lede-17.01.2-lime-default-ar71xx-generic-tl-wdr3500-v1-squashfs-factory.bin in the gateway router and configured the WAN PPPoE connection. Since them, the 3 routers are working without one issue. I left the WDR4300 untouched with the dnsmasq updated (i didn't do that on WDR3600 neither WDR3500)
Now I think I was far from detecting the issue and cannot replicate it. The

[2018-01-01 16:20] dangowrt commented on #265
I had another look at it and think that the problem can be resolved by
changing line 6 'START=99' in
https://github.com/libremesh/lime-packages/blob/develop/packages/watchping/files/etc/init.d/watchping#L6
to be 'START=19' (ie. just before network) instead, so that triggers
are defined before the interface comes up.

[2018-01-01 16:57] dangowrt commented on #273
I think the problem you encountered is caused by watchping's interface triggers being registered too late. Try to change `START=99` into `START=19` (ie. just before network) in
https://github.com/libremesh/lime-packages/blob/develop/packages/watchping/files/etc/init.d/watchping#L6
That should fix it.

[2018-01-01 18:20] modante commented on #265
Doesn't work for me. Removed sleep, changed start to 19 and after rebooting the scrip was disabled. I enabled it but didn't work till I ran it. Rebooted again, now is enabled but still doesn't annouce the inet tunnel if I don't run it manually.
By now I come back to start 99 and sleep 10 till a better fix.
Thanks and regards :-)

[2018-01-02 22:29] modante commented on #273
Hello. Here again :-)
I recently was running ping in the WDR3600 that has low connectivity to the mesh (about 40% of signal average both, 2.4 and 5 GHz). When ping started to fail (more than 5 min without a pong) I manually ran /etc/watchping/wan-fail.d/bmx6-gw and /etc/watchping/wan-ok.d/bmx6-gw in the same WDR3600. Nothing changed because is a non-gateway router.
Then I ran both scripts (first t

[2018-01-02 23:49] modante commented on #273
I forgot to explain that actually the 3 routers forms an "L", I mean in one end is the WDR3500 (gateway), in the middle the WDR4300 and at the other end the WDR3600. When internet connectivity is lost in the WDR3600 (the case I mentioned the last post), the connectivity remains in the WDR4300 (the one in the middle). The WDR3500 and WDR3600 are not connected (or with very low signal cased by the t

[2018-01-03 02:31] modante commented on #273
Help Please!!! I am starting to be desperated! :-(
Now, WDR4300 (which is between WDR3500 and WDR3600) has lost internet connectivity.
Running
[code]
in the gateway router WDR3500 doesn't fix the internet connectivity on WDR4300.
But WDR3600 has internet connectivity!!!
[code]
gives nothing
[code]
What can I do to debug this issue?!?!
Sorry to insist but almost a month trying to make it work the s

[2018-01-03 18:20] modante commented on #273
I don' know what to do to make this setup working.
Resuming, internet connectivity is lost each time (no more than 2 or 3 hours working without issues) in all the non-gateway routers (not simultaneously, sometimes one, sometimes the other).
Sometimes I can revive the internet connectivity restarting the bmxg-gw in the gateway router.
But some other times I cannot get it work unless I reboot the ro

[2018-01-03 20:06] modante commented on #273
I have discovered something.
WDR4300 was not having internet connectivity since 3 hours ago. I tried to restart and reload dnsmasq in the 3 routers without succes. WDR3600 has been working during this time even when this one was connected to the gateway (WDR3500) through the WDR3400 (tha haven't connectivity).
Then I restarted the gateway and suddenly the pongs on the WDR4300 (not working by hours

[2018-01-08 11:32] ilario opened #275 "Migration to OpenWrt"
See libremesh/lime-sdk#48
Where LEDE is cited in this repository:
https://github.com/libremesh/lime-packages/search?q=lede

[2018-01-08 16:35] p4u opened #276 "dnsmasq-lease-share.lua is not properly executed"
Dnsmasq is configured with the following option: `option dhcpscript '/etc/alfred/dnsmasq-lease-share.lua'`

But according to dnsmasq documentation:

[code]
So if dhcp-script is used, dnsmasq executes the file as a shell script (sh), then logread shows the error:

`daemon.debug dnsmasq-script[11466]: /usr/lib/dnsmasq/dhcp-script.sh: /etc/alfred/dnsmasq-lease-share.lua: line 5: syntax error: unexpec

[2018-01-08 16:36] p4u commented on #276
The option should be added to /etc/dnsmasq.d/lime-blah

[2018-01-08 16:55] p4u commented on #276
Bad news...

`Mon Jan  8 16:54:11 2018 daemon.crit dnsmasq[12263]: recompile with HAVE_LUASCRIPT defined to enable Lua scripts at line 1 of /etc/dnsmasq.d/30-lime-dnsmasq-lease-share.conf`

[2018-01-08 17:02] p4u commented on #276
PR sent

[2018-01-10 18:27] #276 closed

[2018-01-15 23:16] nicopace opened #279 "Reduce log verbosity of dnsmasq"
Now dnsmasq is outputing a lot of unnecesary debugging information to syslog.
In order to stop this from happening, I would like to propose to add to the default /etc/config/dhcp file generated by lime-config the following option
[code]
that way dnsmasq reduces its verbosity.

cc @nicoechaniz

[2018-01-16 09:57] ilario commented on #279
IMHO _dnsmasq_ originates the main stability problem in current stable release (#273 #243 #242 #111). I would not decrease its log level before solving.

[2018-01-16 15:59] nicopace opened #280 "Use OpenWrt firewall (drop all connections incoming from WAN) or add a fail2ban-like functionality to dropbear and uhttpd"
Many routers are accesible from outside, so they need to be considered as production servers.
Looking at the logs of dropbear of one of our nodes, I saw that a public IP tried to access the router many many times, and the dropbear allowed it to try all the times (none passed).

One thing that can be done is to add fail2ban in order to reduce the chance for bots to access or to do a DOS to the node

[2018-01-16 16:04] ilario commented on #280
+1
More alternatives:
https://github.com/robzr/bearDropper
https://sourceforge.net/projects/mf2b

[2018-01-16 18:54] nicopace commented on #280
I liked the logtrigger idea, because it will allow us not only to react to fail2ban situations, but also others like the ones we are doing workarounds (cause some of them can be detected on logs):

https://github.com/enryIT/logtrigger

[2018-01-16 19:51] nicopace opened #281 "DNSMasq init.d bug"
This is what @altergui has said about it:

[code]

[2018-01-17 10:40] aparcar opened #282 "add bmx7-auto-gw-mode to release packages"
Currently the package is missing, maybe as I't not a dependence of lime-full.
Please build this package as well

[2018-01-17 10:43] ilario commented on #282
I suppose that this could be achieved adding the package here:
https://github.com/libremesh/lime-sdk/blob/master/libremesh.sdk.config

@aparcar can you try this with lime-sdk locally?

[2018-01-17 10:51] ilario commented on #281
Related issues: #273 #242 #111

[2018-01-21 22:02] ilario commented on #236
* Arch Linux does not
* LEDE 17.01.4 does not (I was trying to "opkg update" on a plain LEDE connected to a LibreMesh gateway and failed using IPv6)

Maybe we should consider this issue more seriously? @G10h4ck

[2018-01-22 13:48] ilario commented on #236
Related to #71

[2018-01-22 14:03] altergui commented on #236
On 22/09/17 11:28, Ilario Gelmetti wrote:

NAK, the default gw should always be announced, regardless of v6
internet connectivity, the same way a default ipv4 gw is announced,
regardless of v4 internet connectivity

(else, there would be no ipv6 way of crossing over to another cloud, in
a set of libremesh clouds connected between them , but not to the internet)

[2018-01-22 15:37] dangowrt commented on #236
Hi!

On Mon, Jan 22, 2018 at 02:03:03PM +0000, Gui wrote:

I disagree, or at least only a ULA prefix should be announced.
Truely public v6 addresses should appear only for gateway tunnels.

That could also be achieved using an ULA.
Our currenty way of having an publicly routed default IPv6 prefix
(literally **everybody** uses 2a00:1508:0a42:2400::/64) as the default
prefix for LiMe nodes is wrong

[2018-01-23 17:46] aparcar commented on #99
I'd vote for wireguard. Now that lime uses 17.01.**4** it's supported by the kernel and should be useable.

[2018-01-23 18:15] aparcar commented on #66
If pingcheck does [not support ipv6](https://github.com/br101/pingcheck/issues/1) and a http crawl as requested by @FreifunkUFO we may should simply extend watchping and close this issue?

[2018-01-23 18:47] aparcar commented on #280
@nicopace have you tried the tool? It looks nice but 6 years without any development?
We could create a PR to add it to the official OpenWrt packages repo?

[2018-01-23 18:49] aparcar commented on #260
@modante can you compare how big the package is? An image with and without the package installed? Maybe it has some additional dependencies bloating the image over 8MB

[2018-01-23 19:14] G10h4ck commented on #66
It seems a good starting point for a LiMe related GSoC proposal

[2018-01-23 19:22] dangowrt commented on #260
I also noticed the missing luci-proto-ppp (which is installed on
vanilla LEDE releases) on TP-LINK W8970B (Lantiq VRV200 xDSL router).
I guess it should become part of the lime-default flavour, because it
really isn't that big (3.7kB). Maybe just adding the 'luci'
meta-package instead of just luci-mod-admin-full and
luci-theme-bootstrap to the lime-default package-set would be the most
appropriate

[2018-01-23 19:34] aparcar commented on #66
@G10h4ck so extend watchping or pingcheck?

[2018-01-23 20:01] p4u opened #287 "IPv4 parametrization"
So according to lime documentation, these are the possible configuration options:

1. `10.0.2.1/16` So the node will self configure 10.0.2.1/16
2. `10.%N1.%M5.%M6/16` The node will self configure an IP based on cloud ID (essid) and last MAC bytes, the result would be something like: 10.2.3.4/16
3. `10.0.128.0/16/24` So first is the Netmask (which will be 255.255.0.0) and second is the IP space to

[2018-01-23 20:28] p4u commented on #287
This case did not work either  `10.5.1.1/24`, netmask is set to 255.255.255.255 and IP address changes to 10.5.1.RANDOM

[2018-01-23 21:27] #260 closed

[2018-01-23 22:25] G10h4ck commented on #66
Evaluating which one is more adecuate can be part of the proposal, actually there was an idea about this last year

https://wiki.freifunk.net/Ideas_GSoC_2017#Improve_Easy_Internet_Sharing_in_LibreMesh

[2018-01-23 23:12] br101 commented on #66
pingcheck can use HTTP (option protocol tcp, default tcp port 80) to check connectivity. it just checks if the tcp connect on port 80 succeeds or not, and does not request a webpage, though...

[2018-01-24 09:19] G10h4ck commented on #66
In that case it doesn't improve on the ICMP check, the problem with ICMP is that captive portals usually fake the ICMP answer so the checker thinks that there is internet when there is not, same happens with a simple connection on port 80...

One way to check this is doing like android phones does that checks for a specific google page that always return 200 OK

[2018-01-24 19:04] aparcar commented on #166
So fixing means only copying the *network* file for now?

[2018-01-24 20:12] nicopace commented on #280
We have been working with @gmarcos87 and @nicoechaniz to filter the current logs of the system in order to clear them and be able to capture those valuable.
We haven't published this (yet), but it is based on rsyslogd's liblognorm: http://www.liblognorm.com/
We also implemented openwrt support for the library... it is still pending to use this tool to take actions based on the logs within the rout

[2018-01-24 23:13] dangowrt commented on #166
Imho this is unneeded as config_generate can be used at any time to
re-generate the default configuration of the device.
lime-config should use the data in /etc/board.json just like
config_generate does instead of re-writing the generated config.

[2018-01-25 18:47] aparcar opened #293 "lime-hwd-openwrt-wan vlan for bmx7"
https://github.com/libremesh/lime-packages/blob/2f013547280c6fcb685a546ceb92e53eb30364eb/packages/lime-hwd-openwrt-wan/src/openwrt_wan.lua#L30

Is this needed for bmx7 as well?

[2018-01-25 19:42] p4u opened #294 "Replace dnsmasq by odhcpd"
Odhcpd seems a better option than dnsmasq, it's an DHCP, DHCPv6 and RA server designed and implemented by OpenWRT with a very good integration.

Furthermore dnsmasq is the originator of many issues, so ideally Libremesh will get rid of dnsmasq In the future.

Currently dnsmasq is used as DHCP server but also as DNS server. The aim of this issue is to replace only the DHCP task, but not yet the DNS

[2018-01-25 20:41] p4u commented on #293
yes, i think so. @G10h4ck ?

[2018-01-25 21:12] p4u commented on #294
Also the IPv6 delegation and anygw should be adapted to odhcpd

[2018-01-25 22:54] p4u commented on #281
Maybe it's time to start thinking about #294

[2018-01-26 10:09] p4u commented on #287
I found that (also without lime-proto-anygw installed) ipv4_main_address like 10.5.1.1/24 does not work but 10.5.1.2/24 does work. So probably there is some hardcoded stuff related to anygw in the network lua code.

[2018-01-26 18:21] aparcar opened #296 "RFC: mesh cloud monitoring"
To simplify the monitoring of a mesh cloud I'd like to hear your comments and thoughts of the following setup. For my bachelor thesis I want to create some new tools or work on existing solutions in this area that mesh communities would actually profit of these affords.

In the following sections I'll cover some design ideas. As a premise; not all nodes collect monitoring data but one or more spec

[2018-01-26 23:55] aparcar commented on #294
[code]

[2018-01-27 11:40] modante opened #300 "wlan1-mesh disconects without reason"
Setup:
Node 1: WDR3500 working as gateway. Connects to Node 2 in 5 GHz with wlan1-mesh
Node 2: WDR4300. Connects to Node 1 and 3 in 5 GHz with wlan1-mesh
Node 3: WDR3600. Connects to Node 2 in 5 GHz with wlan1-mesh. Also connects with Node 1 but with a very low signal then most of the times reads 0 mbps tx/rx
The 3 routers are flashed with lede-17.01.2 and with no any additional software installed

[2018-01-27 12:30] modante commented on #273
Three weeks ago I reflashed the 3 devices with lede-17.01.2-lime and installed no any additional package (neither Luci-app-pppoe) and since them, except for this issue that appeared a few days ago (https://github.com/libremesh/lime-packages/issues/300) it has been working fine.
I suspect that either SQM scripts or QoS packages that are the only one I installed before, could led to the issue, but I

[2018-01-27 15:33] nicoechaniz commented on #300
does the node recover from this state if you just run:
iw wlan1-mesh scan

?

[2018-01-27 15:50] modante commented on #300
I'll try the next time.
Thanks Nico :-)

[2018-01-28 01:13] ilario commented on #287
This setting is identified as invalid by [this line](/libremesh/lime-packages/blob/develop/packages/lime-system/files/usr/lib/lua/lime/network.lua#L68) which avoids that IP to be the same of anygw's one, inserted by @G10h4ck:

[code]

Yep, see above. If this is actually needed, I have no idea.

Indeed this is a bug! [This line](/libremesh/lime-packages/blob/develop/packages/lime-system/files/usr/l

[2018-01-28 01:20] ilario commented on #287
Are you sure it was assigned to random? Should have been .254 which is maxhost for that subnet. For subnet /27 that you were using above it would be .30

[2018-01-28 01:27] ilario commented on #287
See #301

[2018-01-28 11:49] modante commented on #300
This morning the issue was a little different. When I tried to connect to Node 2 (WDR4300) through the 2,4 Ghz I couldn't. But if connected to Node 1 I could access to the LuCi administration of Node 2 and observed that wlan1-mesh was working and indeed had connectivity also in Node 3. This time was the wlan0-ap and wlan0-apname the ones which failed.
_iw wlan1-mesh_ scan didn't change anything be

[2018-01-28 16:33] #293 closed

[2018-01-28 17:22] p4u commented on #294
See lime-proto-anygw

https://github.com/libremesh/lime-packages/blob/develop/packages/lime-proto-anygw/src/anygw.lua

Some options are added to `/etc/config/dhcp` that might not be compatible with odhcpd (need testing). Also there are some extra dnsmasq rules written to `/etc/dnsmasq.d/` that might be exported somehow to odhcp.

[2018-01-28 17:33] p4u opened #303 "Implement bmx7 mesh-dns"
Following the work done in bmx6-mdns https://github.com/routek/qMp/tree/testing/packages/bmx6-mdns

It is a distributed DNS system where every node can publish domains and its resolution (to IPv4 or IPv6) using the bmx7 SMS plugin.

The domains published by all nodes in the network are saved into a file which dnsmasq will read (as it does with /etc/hosts).

To prevent possible MITM or Phishing att

[2018-01-28 17:39] p4u commented on #303
More info about mdns http://bmx6.net/projects/bmx6/wiki/Mdns

[2018-01-29 10:12] p4u commented on #287
You right, it look random to me but it's not.

I see this case very useful. In Guifi.net, for instance, you can create go to the web page and Mesh Zone which will reserve a /16 (for example). This /16 network will be published by the BGP border nodes to the rest of the Guifi.net network.

Inside the mesh cloud a non-roaming network is deployed where every node manages its own /27 (assigned to br-l

[2018-01-29 11:25] ilario commented on #287
@p4u can you create two more issues for:

. the check for anygw being active and installed in network.lua
. the scenaio of randomly broken mesh

I would keep this issue just for the lack of netmask when invalid IP address is detected, which is fixed in #301

[2018-01-29 13:07] modante commented on #300
This morning the issue came back, now in the 5 GHz radio.
I ran  iw wlan1-mesh scan and in 5 seconds the wireless mesh reconnected and worked fine.
Yesterday I manually updated kernel to the last one in openwrt trunk (kernel_4.9.77-1-f05c927e6709514cb789f9278695cb63_mips_24kc.ipk) in order to update ath9k to kmod-ath9k_4.9.77+2017-11-01-3_mips_24kc.ipk but when rebooted wireless was not working I

[2018-01-29 16:01] aparcar opened #304 "RFC: mesh cloud configuration"
To simplify the configuration of a mesh cloud I'd like to hear your comments and thoughts of the following setup.

In the following I'd like to distinguish between the *initial* and the *running* configuration. *Initial* means they run any OpenWrt based software where a `sysupgrade` is easily possible. *Running* means the nodes are already in place and only (or mostly) connected by wireless mesh.

[2018-01-30 17:16] aparcar opened #306 "separate Mesh and AP radio based on frequencies"
Using an encrypted 11s mesh and encrypted AP on the same radio (2.4GHz or 5GHz) does not work as reported [here](https://github.com/libremesh/lime-packages/issues/208).

To archive this feature it's [possible](https://github.com/ilario/lime-packages/blob/dee5ba5da8d54b0fec744070269b4db33cba7de4/packages/lime-docs/files/lime-example#L76) to set individual configurations, but due to the usage of [fo

[2018-01-30 17:38] #166 closed

[2018-01-30 17:57] aparcar opened #308 "convention for code style"
In many areas within the lime I find plenty of tabs to indent code. Is that intended? Is there a conventions to use tabs *or* whitespaces?

[2018-01-31 00:10] dangowrt commented on #208
I made a proposal to update the hostapd sources.
Can you give http://patchwork.ozlabs.org/patch/864478/ a try and give feedback?

[2018-01-31 14:09] ilario commented on #308
Let's decide here the standard.
Right now in this repository there are 125 files with lines starting with tab and 52 files with lines starting with 4 spaces.
The files containing a mix of the two are 25.
I don't have any preference for one over the other, maybe 4 spaces is easier to respect.
We never fix the old indentation errors for not breaking the "git blame" function.

[2018-01-31 14:33] nicopace commented on #308
I would say to be consistent with the file you are editting.
Deciding one over the other will generate a long and boring process between those that have a preference for one over the other, that will not result in nothing productive.

Unless this is a serious issue about this, I would say to ignore the topic alltogether and get back to our lives (or to dnsmasq bugs #281, or @aparcar RFC #304 for e

[2018-01-31 14:42] aparcar commented on #308
Good point, did not think of that.

Nope it's not. But as I started to *[contribute](https://github.com/libremesh/lime-packages/pull/307/files#diff-192457068239fe711325c38fafa5f441)* some stuff I thought of asking before doing stuff [wrong](https://github.com/libremesh/lime-packages/pull/295#issuecomment-361078556). :)

[2018-01-31 14:59] aparcar commented on #294
Looking at [odhcpd README](https://github.com/openwrt/odhcpd) it looks like some option are missing:

* [force](https://github.com/libremesh/lime-packages/blob/develop/packages/lime-proto-anygw/src/anygw.lua#L81) has no replacement in odhcpd, but maybe it's default?

* [custom mtu](https://github.com/libremesh/lime-packages/blob/develop/packages/lime-proto-anygw/src/anygw.lua#L84) seems unsupporte

[2018-01-31 16:05] aparcar commented on #208
@dangowrt at first glance you this looks wrong:

    -PKG_RELEASE:=6
    +PKG_RELEASE:=1

[2018-01-31 18:34] patogit commented on #257
@Nikerabbit , happy new year! I'm returning to the translation of the LibreRouter project after a break. Any chance of moving forward with pull requests for TranslateWiki?

[2018-01-31 19:05] Nikerabbit commented on #257
I have been busy with other things so far.

[2018-02-01 11:25] p4u commented on #294
Related issues #104 and #150

[2018-02-01 15:03] nicopace opened #310 "safe-reboot: Add notification to all console users that safe-reboot is running"
If safe-reboot is running it is hard, even for the same user that is using it, to know when it will reboot the system.

It would be great if it can notify all users connected that it will reboot the system and how to prevent it or react to it.

I think it could be added here:
https://github.com/libremesh/lime-packages/blob/feb3b8996fe8e008ff391dd6feef9a6f11225dfa/packages/safe-reboot/files/usr/sbi

[2018-02-01 15:53] p4u commented on #308
I see no point for not having this discussion in paralel with other important tasks.

I think it is a right thingo to get a consensus on this and DO NOT ACCEPT Pull requests not respecting this consensus.

Peronally, I like more spaces than tabs for identation (I've no point but it's what I've been doing in the past). However I would vote for **following the OpenWRT/LEDE approach which is use TABS

[2018-02-01 15:57] p4u commented on #306
Follows #307

[2018-02-01 16:11] p4u commented on #306
My proposal is a module named (for instance) lime-smart-wifi-config

This module must run before lime-config (via uci-defaults script).

The module looks for the existing WiFi radios in the system (for such task, LUA funcions from lime-system might be used) and writes to /etc/config/lime the specific sections according to a configuracion file or a set of heuristics (for those which are not in the

[2018-02-01 16:17] p4u commented on #306
The options from smart-wifi-config can also live inside /etc/config/lime-defaults in a separated section.

[2018-02-01 16:35] aparcar commented on #306
I'd prefer that. I thinks @rogerpueyo did some work on that and I'll try to implement something like that.

[2018-02-01 18:33] gmarcos87 commented on #310
**SIDE NOTE**
With almost the same code we could notify users logged in on the node that another user entered.
This prevents users from changing the settings between them without knowing it.

[2018-02-02 10:13] ilario commented on #310
@nicopace did you see #238 ?

[2018-02-02 12:20] nicopace commented on #310
Haven't seen, sorry!
Closing duplicate!

[2018-02-02 12:20] #310 closed

[2018-02-02 12:20] nicopace commented on #238
If safe-reboot is running it is hard, even for the same user that is using it, to know when it will reboot the system.

It would be great if it can notify all users connected that it will reboot the system and how to prevent it or react to it.

I think it could be added here:
https://github.com/libremesh/lime-packages/blob/feb3b8996fe8e008ff391dd6feef9a6f11225dfa/packages/safe-reboot/files/usr/sbi

[2018-02-04 11:07] ilario opened #312 "warn the user when an invalid IPv4 setting is detected"
When an invalid IPv4 is set (e.g. for a 10.13.0.0/16 network, the IP currently recognized as invalid are 10.13.0.0, 10.13.0.1, 10.13.255.255), either manually in `/etc/config/lime` or automatically from MAC address (see comments on `main_ipv4_address` in `packages/lime-docs/files/lime-example`), `network.lua` in `packages/lime-system/files/usr/lib/lua/lime/network.lua` sets the last valid IP inste

[2018-02-04 11:15] ilario opened #313 "network.lua: IP validity check conditional on active anygw"
`network.lua` (`packages/lime-system/files/usr/lib/lua/lime/network.lua`) should check if anygw (`packages/lime-proto-anygw/`) is active (installed and selected) before identifying as invalid the first IP (e.g. 10.13.0.1/16) of a network.

Copy and paste of the discussion on #301 (originated in #287):

If anygw is not cofigured, the IP addresses should be valid, is this taken into account?

Nope,

[2018-02-04 11:16] ilario commented on #287
@p4u can you create another issue for:

. the scenaio of randomly broken mesh

I already filed the one for "the check for anygw being active and installed in network.lua", discuss on #313

[2018-02-04 12:06] ilario commented on #258
The issue is not related anymore to lime-packages but to lime-web. Closing here, opening on libremesh/lime-web#51

[2018-02-04 12:06] #258 closed

[2018-02-04 12:10] ilario commented on #255
@dangowrt @p4u @altergui sorry for being annoying on this tiny thing, but: can I remove that old stuff?

[2018-02-04 12:20] ilario commented on #144
@p4u so can I delete that repository?

The solution of this problem is being reworked by @nicopace in packages/cotonete merged in #305

[2018-02-04 12:23] ilario commented on #124
Do we still want this or can we close the issue?

[2018-02-04 12:25] ilario commented on #95
Fixed by @aparcar in #284

[2018-02-04 12:25] #95 closed

[2018-02-04 14:25] ilario commented on #253
Options for 802.11r in OpenWrt:
https://lede-project.org/docs/user-guide/wifi_configuration#fast_bss_transition_options

[2018-02-04 15:29] ilario commented on #306
If 2.4GHz or 5Ghz -> Set it to the correct channel and AP + MESH
    If Dual Band -> Set it to 2.4GHz and AP + Mesh

    If only one at 2.4GHz -> set it to only AP
    If more than one at 2.4GHz -> set the first found to only AP
    Set the rest of radios at 5GHz (prefered) or 2.4Ghz -> only Mesh

I love this :D
In the common case of the TP-Link dual band routers would result in 2.4 GHz used just

[2018-02-04 23:38] aparcar commented on #308
we can have the same fun discussion with camelCase or this_style for variable names.
I like spaces (4) and this_style 🙄

[2018-02-05 18:08] p4u commented on #308
I agree on getting agreements here too. Code will look much unified and easy to read.

Another point: max line lenght before truncating

[2018-02-05 18:10] aparcar commented on #308
80 💥

[2018-02-05 18:43] G10h4ck commented on #308
The convention I use is:

Max line length 80 unless it's ugly (I have reasons)
Use tab strictly for indentation only. Use space for alignment and other things (I have reasons)
about camel case or _ I usually prefer camel-case because names are sorter but it sometime looks ugly so i won't enforce this.

[2018-02-07 00:07] aparcar commented on #296
https://github.com/openwrt/packages/pull/5578

[2018-02-08 18:20] Benik3 opened #322 "Spectrum analyzers"
Hello.
I would like to ask on the spectral scan feature. Is anything working with LEDE?
First I found libremesh/spectrum-analyzer-packages. But half of the directories is empty and the second one I wasn't able to compile.
Then I looked into releases of libremesh FW. Under packages I found compiled pckg ubus-lime-openairview_2018-01-15-1516066917_mips_24kc.ipk. I installed this package, but I wasn'

[2018-02-09 10:31] #287 closed

[2018-02-09 12:00] ilario commented on #322
@nicopace did his GSoC on this, check out this:
https://blog.freifunk.net/2017/08/29/gsoc-libremesh-spectrum-analyzer-summary/
@nicopace how is the current status? Is this included in current LibreMesh release?

[2018-02-09 16:54] Benik3 commented on #322
E.g. folder spectrum-scan-decoder contains only ReadMe.md.
BTW I found a project Wlanslovenija, which also has luci-app-openairview included.
But it also doesn't work for me. I get error with lua script - attempt to index local 'net' (a nil value).
Also for some reason the website where should be spectrum the analyzer is "empty" (only plain texts).
I tried to take html from this repository but I g

[2018-02-10 18:02] ilario commented on #99
@nicoechaniz suggests to consider [LibreNet6](http://docs.altermundi.net/LibreNet6) integration in LibreMesh as a priority

[2018-02-10 18:50] ilario commented on #99
A problem of Wireguard is that is [not yet considered stable](https://www.wireguard.com/#about-the-project) but it's receiving a lot of interest, so it could reach stability quite soon. Moreover it's already packaged for LEDE 17.01.4 (see base/wireguard, base/wireguard-tools, luci/luci-app-wireguard, luci/luci-proto-wireguard).

[2018-02-10 20:15] G10h4ck commented on #99
AFAIK wireguard tunnels are L3 only aka can't be used for routing protocols that needs L2 to send hello messages

[2018-02-10 23:50] aparcar commented on #294
depend on https://github.com/libremesh/lime-packages/pull/323

[2018-02-10 23:56] ilario commented on #99
Regarding the size of various packages and their dependencies (measured compiling the armvirt image and comparing with plain lede-17.01.4-lime-default-armvirt-root.squashfs.gz image dimension):
plain: 2733 kB
tinc: +601 kB
babeld: +38 kB
wireguard: +79 kB
wireguard, wireguard-tools, luci-app-wireguard, luci-proto-wireguard: +81 kB

[2018-02-11 00:48] aparcar commented on #100
isn't this covered by the firstboot wizard?

[2018-02-11 03:07] pedro-nonfree commented on #99
+1 for wireguard. In addition what people said: is extremely easy to configure and its lines are very clear (I configured years ago a tinc site-to-site, I was not very happy what configuration looks like)

Some people did tests to encapsulate L2 traffic inside wireguard

https://lists.zx2c4.com/pipermail/wireguard/2017-March/001156.html

a partner did tests with wireguard + olsr for tunnel broker.

[2018-02-11 15:55] ilario opened #325 "Attended Sysupgrade inclusion"
[Attended Sysupgrade](https://blog.freifunk.net/2017/08/25/attended-sysupgrade-final-evaluation-update/) system helps the user to upgrade the router with one click. Developed by @aparcar
What's missing:

* subdomain upgrade.libremesh.org for upgrade server (already accessible [here](https://ledeupdate.planetexpress.cc/))
* upgrade button in lime-app
* ?

[2018-02-11 15:56] aparcar commented on #325
@gmarcos87 can you help with the lime-app?

[2018-02-11 15:59] ilario commented on #99
Regarding Babeld, there's an implementation draft from @altergui [here](https://github.com/libremesh/lime-packages/commit/42e65ab1744c72be8c198be7f390a7785614b054)

[2018-02-11 22:18] FreifunkUFO commented on #322
we tested it some years ago
https://twitter.com/freifunk_l/status/628616896267591681

[2018-02-12 14:47] #306 closed

[2018-02-12 21:37] Benik3 commented on #322
Thanks for reply.
I tried for sure to compile it again, but still I'm getting this error:
`/usr/lib/lua/luci/dispatcher.lua:460: Failed to execute template dispatcher target for entry '/admin/openairview/spectral_scan'.
The called action terminated with an exception:
/usr/lib/lua/luci/template.lua:97: Failed to execute template 'openairview/spectral_scan'.
A runtime error occured: [string "/usr/li

[2018-02-12 22:13] ilario commented on #322
Regarding fft-eval, the is also [this](https://github.com/libremesh/FFT_eval) repository from @altergui which has some additional commits but looks outdated.

[2018-02-12 22:48] patogit commented on #257
@Nikerabbit and @nicopace , do you think this will move forward in the next week? I can put time into making it work this week, but if it's not going to work, I will move on to a different platform, since we want to get a first round of translation done by the end of February.

[2018-02-12 22:55] Benik3 commented on #322
OK, the under line is the reason why I didn't find it by googling :) (fft_eval vs fft-eval)

[2018-02-13 10:21] Nikerabbit commented on #257
This week? Full support for pull requests is not possible is not to do in just a couple of days even if I stopped doing everything else.

Committing to a different branch is possible.

[2018-02-13 13:17] aparcar commented on #208
@dangowrt updates on this?

[2018-02-13 17:16] patogit commented on #257
Ok, then let's see if we can set up committing to a different branch in order to get translation going.

I'm happy to help with pull request support, though I'm a novice coder and don't yet understand what the next steps are.

[2018-02-13 18:46] patogit commented on #257
@nicopace , @p4u , @Nikerabbit , maybe we can make a tw-translations branch in each repo. I'll see if I can do it.

[2018-02-13 19:51] patogit commented on #257
@Nikerabbit , it's not currently possible to use TranslateWiki for MarkDown files, is it? If so, we could do ReadMe files, such as https://github.com/libremesh/lime-sdk/blob/master/README.md .

[2018-02-13 22:05] aparcar opened #327 "replace luci with lime-app"
Can we collect here what's needed to replace luci in the default installation with the (significatly?) smaller lime-app?

Missing features:

- [ ] set admin password
- [ ] add ssh key
- [ ] install sysupgrade https://github.com/libremesh/lime-packages/issues/325
- [ ] change basic wifi settings

[2018-02-14 07:48] Nikerabbit commented on #257
Translate extension supports translating wiki pages (any kind of pain text is okay), so you could copy the markdown readme on the wiki and make it translatable using that feature. Practically, that would mean that future changes should be done to the translatable page and exported back to the repository (or doing changes twice, but overwriting the wiki version with a fresh copy from the repository

[2018-02-14 17:59] patogit commented on #257
@p4u created a tw-translations branch, and @ilario is also working on this. I'm not sure how to tell whether @translatewiki has commit access to the branch. @Nikerabbit, does it look ready?

[2018-02-14 23:55] patogit commented on #257
Other devs say it's difficult to configure commit access on the libremesh repos, so they suggest that Translate Wiki commit to a fork (either at patogit or translatewiki) and from there do the pull request. I think this is the most effective way to move forward until Translate Wiki can do pull requests. @Nikerabbit are you ok with this?

[2018-02-15 07:33] Nikerabbit commented on #257
Who is going to do the pull requests?

[2018-02-15 07:50] Nikerabbit commented on #257
I did receive an invite email for @translatewiki, but looks like someone cancelled it because the link is not working.

[2018-02-15 16:39] ilario opened #330 "Travis CI randomly fails (due to timeout) depending on compilation server load"
Some build check on PR fails for timeout, I can see no reason for this apart from load on build server or on source hosting servers.

https://travis-ci.org/libremesh/lime-packages/pull_requests

In order to shorten the compilation time we could avoid compilation of non-LibreMesh packages:

1. adding OpenWrt repositories to lime-sdk (see libremesh/lime-sdk#54)
1. adding in .travis.yml a command del

[2018-02-15 16:40] patogit commented on #257
I created an organization on GitHub to handle this, https://github.com/translation-bridge . I invited @translatewiki, @Nikerabbit, @ilario and @gmarcos87 , and can invite more people. I forked the three libremesh repositories that are internationalized and ready to translate. Lime-app is the most complete at this point, with message documentation and screenshots for most of the messages.

I can do

[2018-02-15 16:48] patogit commented on #257
I think that with this setup we don't need to create a new branch for the translations in the forked repos, but maybe I'm wrong. I think that we just need to know what branch to submit the pull requests to for each repo. In lime-app for example, @gmarcos87 was using uhttpd as the development branch. I'm waiting to hear from him whether this is still true. In lime-packages they're using develop as

[2018-02-16 03:12] dangowrt opened #331 "cascade of metapackages kills modularity"
I'm trying to use lime with something else than the usual combination of bmx6+batman-adv.
However, this is currently nearly impossible because of a cascade of meta-packages which pull-in a lot of packages via their dependencies. I tried crafting a flavor with bmx7-only and failed because the current approach of meta-packages and flavors was left behind in the past when we were still always buildin

[2018-02-16 03:22] dangowrt commented on #331
Another example: In flavors.conf, many of the flavors remove dnsmasq. But lime-basic then pulls in dnsmasq-lease-share and dnsmasq-distributed-hosts which doesn't make sense without dnsmasq...

[2018-02-16 12:17] ilario commented on #331
On removing **unnecessary dependencies** from collections: +1
(in my opinion lime-sdk [flavors](/libremesh/lime-sdk/blob/master/flavors.conf) obsoletes lime-full-* collections)
As a related issue see #175

---

The example you cited is a **conditional dependency**, do we want to remove them? They were useful when the recommended compilation method was [OpenWrt buildroot and menuconfig](/libremesh/

[2018-02-16 14:50] aparcar opened #332 "lime-proto-bmx{6,7} don't announce gateway if same as bmx connection"
If a node is connected on `wan` to a bmx network it will also use `watchping` on that interface. This leads to a situation where the node announces itself as uplink `/etc/watchping/wan-ok.d/bmx{6,7}-gw`) only having uplink thanks to a different (real) uplink within the bmx network.

What could be a solution for that? Not announcing bmx uplink when uplink via a bmx connection on wan?

[2018-02-16 15:19] dangowrt commented on #332
Not installing lime-hwd-openwrt-wan...?

Re-using the interface names 'lan' and 'wan' has lead to confusion in
the past because it is not clear whether they are just re-used names
(such as when speaking bmx6/7 on an interface called 'wan' which
then certainly isn't used for 'wan' in the sense of the word).

[2018-02-16 15:20] aparcar commented on #332
I think it's a default package

[2018-02-16 15:24] Nikerabbit commented on #257
Can you double check the branches so we get the correct versions in right away? Can you also list the i18n directories because it's not obvious to me where there might be for all the repos.

I also notices that [message documentation](https://github.com/translation-bridge/lime-app/commit/3bd728995e5fda6d8631fa24c8f680a31e683985) is still empty. While you should have some, you should not empty plac

[2018-02-16 16:12] dangowrt commented on #332
https://github.com/libremesh/lime-packages/issues/331

[2018-02-16 16:57] patogit commented on #257
https://github.com/translation-bridge/lime-packages/tree/develop/packages/lime-webui/po

https://github.com/translation-bridge/lime-app/tree/uhttpd/i18n/translations

https://github.com/translation-bridge/chef/tree/master/i10n

[2018-02-16 17:00] patogit commented on #257
Message documentation is empty because @gmarcos87 hasn't merged my commit yet (says it will get done today).

https://github.com/libremesh/lime-app/pull/118

[2018-02-16 18:03] aparcar commented on #331
@dangowrt If you find the time, I'd be happiest to see such a PR

PS: As I'm also working on a bmx7 setup, here a tasty flavor

[code]

[2018-02-16 20:21] aparcar commented on #296
![screenshot-2018-2-16 mesh controller](https://user-images.githubusercontent.com/16000931/36327603-541e9564-135f-11e8-8898-6cb19d06e4e0.png)
![screenshot-2018-2-16 mesh controller 1](https://user-images.githubusercontent.com/16000931/36327604-544834e6-135f-11e8-8525-d3e0d8e78eb2.png)

[2018-02-17 11:56] p4u commented on #331
Hi @dangowrt

I understand your concerns, but (as you already pointed) collections where created mainly to be used in BuildRoot and not in ImageBuilders.  IMO it's still useful for those who want to use BuildRoot (which is one of the ways to build your own firmware) to have the collections available and conditional dependencies.

However with "cooker" or ImageBuilder it might not make sense to use

[2018-02-18 01:43] pedro-nonfree commented on #195
I don't know what's the syntax being used (asciidoc?) but I think that in the website should render that format in something more web-based

[2018-02-18 14:54] ilario commented on #195
AsciiDoc renderer is written in Python, AsciiDoctor renderer is written in Ruby. I believe that for obtaining HTML pages from AsciiDoc files, one of these two is needed but none can fit in a router.

If we really really want this, the only option I see is to download HTML pages from the website during lime-docs compilation.

[2018-02-18 16:55] p4u commented on #332
IMO bmx should not run on WAN interface. By default it is like this (it runs on all network interfaces of the node) but it might be more convinient to use a different interface name.

This is the kind of section created by lime-hwd-openwrt-wan.

[code]
So if a routing protocol is configured on such interface, it is Ethernet and it's not a bridge,  lime-hwd-openwrt-wan should create a macvlan inter

[2018-02-18 16:59] p4u commented on #327
For each network interface, define the protocols to use (WAN, LAN, BMX, BAT-adv, etc.)

Raw edit of /etc/config/lime via web interface (just for advanced users but might be useful)

[2018-02-18 17:58] aparcar commented on #327
@gmarcos87 if you like to work on that I'm happy to help with the ubus backend

[2018-02-19 13:12] G10h4ck commented on #332
I am not sure I have understood well the situation,but it seems to me that not enabling other protocols on wan by default, is the simplest solution

[2018-02-19 13:18] FreifunkUFO commented on #331
hi @dangowrt . there is also a possibility to deleselect packages to modify meta-package-selections.
near  "lime-hwd-openwrt-wan" discussion there were some more issue-tickets, but all got closed.
https://github.com/libremesh/chef/issues/8
https://github.com/libremesh/network-profiles/commit/5ab8abfc32f09b7f3ebfa81db2a1d01bc5b95c29
https://github.com/libremesh/network-profiles/issues/13

[2018-02-19 15:29] bitchecker opened #334 "documentation"
hi,
the only documentation present is that of presentation that you see on the [site](https://libremesh.org)?

[2018-02-19 15:49] ilario commented on #334
The documentation is annoyingly quite spread, are you looking for something specific?

I link here the main information sources:

* on the website

https://libremesh.org/howitworks.html
https://libremesh.org/docs/en_quick_starting_guide.html
https://libremesh.org/docs/en_config.html
https://libremesh.org/docs/en_troubleshooting.html

* in the repositories

https://github.com/libremesh/lime-package

[2018-02-20 00:40] aparcar commented on #332
Is that already the default or do we need to change something (all lime-protos?) for that?

[2018-02-20 00:45] aparcar opened #335 "bmx7 iwinfo bandwidth estimation with autoconf wifi-iface"
bmx7 offers a plugin to read the output of `iwinfo` and give a better estimation of the possible bandwidth. This doesn't work for now as LiMe configures the interfaces in a way that iwinfo/bmx7 doesn't detect them as wifi interface. We should think of a solution to offer more precise estimations of link quality.

[code]
[code]

@axn what do you suggest?

[2018-02-20 08:34] bitchecker commented on #334
thanks for you links.

those are very useful, but, i don't understand if, with only simple router, i will be able to create a router of the mesh network that will be also an ap for users or not. it's a mix of ap/ad-hoc mode?

[2018-02-20 09:20] G10h4ck commented on #332
In openwrt_wan.lua lines 28-37 and related is where this thing happen and just deleting those lines and doing some modifications in the surrounding lines should be enough to change this unwanted default behavior.

[2018-02-20 15:58] Nikerabbit commented on #257
I have an almost ready patch to add LibreMesh to translatewiki.net

Is there a en.po or pot file? Same note about empty qqq strings as for lime-app. I could not add this one yet.

There is no i10n, it's either i18n or l10n :) It would be good to have some message documentation in qqq in near future.

Do you have a logo (SVG if possible) and a short sentence or two description of the project to sho

[2018-02-20 18:26] dangowrt commented on #335
I reckon you'll have to do something like here
https://github.com/freifunk-gluon/gluon/commit/4ce85afc22a2c64e5ac5ea1b52ad93f323e384d4
in the iwinfo plugin to first climb down to the 'physical'
interface.

[2018-02-21 04:03] patogit commented on #257
Hooray!!!!

Lime-packages... I don't see an en.po file. I just made one, https://github.com/libremesh/lime-packages/pull/336 . I will try to get the qqq file done this week.

Lime-app qqq is now up to date, in the develop branch: https://github.com/libremesh/lime-app/blob/develop/i18n/translations/qqq.json -- so, as long as the screenshot links work, then lime-app is ready to go? @gmarcos87 told m

[2018-02-21 05:43] axn commented on #335
Thx Daniel and Paul, I'll work that out...
/axel

On 20.02.2018 19:26, Daniel Golle wrote:

[2018-02-21 11:30] aparcar commented on #335
https://github.com/bmx-routing/bmx7/pull/12

[2018-02-21 16:49] patogit commented on #257
@Nikerabbit , Is this sort of empty qqq file appropriate? Of course, we'd rather have documentation messages in it, but is it the correct format for an empty qqq file?
https://github.com/libremesh/lime-packages/pull/337

[2018-02-21 17:23] Nikerabbit commented on #257
I don't know if that file will parse (probably not). I would recommend to postpone adding empty qqq files until you have something to put in there. qqq can also be written inside translatewiki.net, if you find that easier.

Also to confirm, should I use the develop branch for lime-app?

[2018-02-21 17:24] patogit commented on #257
Ok, I'm looking at the Lib.reviews space on TWN.

(I notice that the FAQ is out of sync: https://translatewiki.net/wiki/Translating:Lib.reviews/FAQ#How_do_I_create_a_version_of_lib.reviews_in_my_language? and https://lib.reviews/faq#language the last sentence is different.)

If someday the export of those pages could be automated, that'd be great! I wonder what it would require.

We just started u

[2018-02-21 17:25] patogit commented on #257
Use the issue-119 branch for lime-app, https://github.com/translation-bridge/lime-app/tree/issue-119/i18n/translations

[2018-02-21 17:28] patogit commented on #257
So, if I'm not going to put anything in lime-packages qqq today, then we should delete the pull request https://github.com/libremesh/lime-packages/pull/337 and instead let TWN create the qqq?

[2018-02-21 17:57] Nikerabbit commented on #257
Yeah, there is really no reason to have qqq file until you have content in it :)

[2018-02-22 17:19] patogit commented on #257
@Nikerabbit , is there a way in the TranslateWiki interface to change the source language for a document or for a translator? For example, a wiki page or a .po file is written in Spanish and sometime wants to translate it directly to Portuguese. Another person translates it from Spanish to English, and then a third person wants to translate it from English to Turkish. Is it possible for each trans

[2018-02-22 20:45] Nikerabbit commented on #257
Translators can set assistant languages in their preferences. You still need to have all texts present in the real source language.

[2018-03-04 14:39] patogit commented on #257
@Nikerabbit, what else do you need from us to move forward?

[2018-03-04 18:40] Nikerabbit commented on #257
Hi and sorry about the real life interfering :). I need the pot file of course, but I'll check if I can add the other groups already and report back.

[2018-03-05 12:27] aparcar opened #338 "lime-defaults: add option to enable bmx7 sms plugin"

[2018-03-05 14:09] pedro-nonfree opened #339 "parse some common bmx6 configurations from the /etc/config/lime"
This first entry will be updated

Parse some common bmx6 configurations so it will not be overridden due to `lime-config` and `lime-apply` workflow.

- [ ] set max rate

@dyangol help

@aparcar offered to implement this

[2018-03-05 16:41] Nikerabbit commented on #257
It seems that the changes I have requested are not present in the bridge repositories yet:
* lime-app still has a qqq file with TODO entries.
* chef still has the folder called i10n
* libremesh webui is still lacking a pot file

I see some of those pull requests are still open, some not. Is there a syncing problem to the bridge?

[2018-03-05 17:28] patogit commented on #257
@Nikerabbit, I don't know, I'm still learning to use GitHub. Maybe @gmarcos87 @ilario or @aparcar can help. @ilario is an owner of the bridge repo.

[2018-03-06 15:58] aparcar commented on #338
this was already fixed but improved with https://github.com/libremesh/lime-packages/pull/342

[2018-03-06 15:58] #338 closed

[2018-03-06 20:28] dangowrt commented on #335
@aparcar please test if https://github.com/bmx-routing/bmx7/pull/15 fixes the problem

[2018-03-07 10:35] #339 closed

[2018-03-08 18:51] tekoholic commented on #99
+1 for wireguard. It is extremely resource-efficient, tinc is (as already mentioned) difficult to configure for users, etc. Attempting, however, to establish a wireguard link to outside provider does not seem to route correctly, in LiMe 17.06 built on chef server. Documentation is scarce, and that which does exist does not correct the routing issues.

[2018-03-08 21:20] tekoholic commented on #66
Any progress on this? I can't seem to get watchping to do it's job. Not sure that pingcheck would either, am going to test it in the coming few days. In the end, which one I will support will depend on which one actually does what it is supposed to do. Another option for consideration might be apinger, although it is limited to icmp so far as I have read, but at least does seem to have multi-inter

[2018-03-10 18:02] aparcar commented on #335
now that bmx7 detects devices and speed correctly we should disable the max rate per default as the routing protocols decides it based on the actual situation. I'd suggest to disable the settings of rateMax if no specific rate is set.

@G10h4ck @p4u @dangowrt

[2018-03-11 23:18] #335 closed

[2018-03-11 23:23] dangowrt opened #345 "anygw: alfred lease sharing is broken"
Doesn't work with dnsmasq on current develop branch. Maybe alfred is broken or doesn't work well on non-batman-adv bridge ports, I never really saw it working, so I have a hard time figuring out the expected behaviour...

[2018-03-12 15:25] nicopace commented on #345
@dangowrt will get to check this later hopefully... it is a thing that has had issues in the past, and also a very useful feature!

@aparcar bmx and batman-adv are part of a solution that work together.
Despite LibreMesh is flexible enough by design to support different kinds of setups, the collective decision has been for the default to be a collaboration between batman-adv (layer2 mesh routing)

[2018-03-20 02:20] patogit commented on #334
@bitchecker , there are many ways to set up a network. The difference between an access point and a router-to-router connection depends on what kind of antenna is used and on what kind of WiFi network is created. In general, if you set up two routers with LibreMesh close enough for them to connect with each other, they will connect automatically and also function as AP for users. This is most effe

[2018-03-20 16:01] patogit commented on #257
Moving forward with these tasks:

waiting for review and merge https://github.com/libremesh/lime-app/pull/128

fixed, see note about syncing below.

waiting for review and merge https://github.com/libremesh/lime-packages/pull/336

I don't know how syncing is supposed to work. I just updated the translation-bridge repo by doing the following on my computer:
- `cd GitHub-translation-bridge/chef`
- `

[2018-03-20 20:16] patogit commented on #257
fixed: https://github.com/translation-bridge/lime-app/blob/master/i18n/translations/qqq.json

[2018-03-21 22:03] nicopace commented on #327
@aparcar it is important to notice that lime-app was not meant to replace luci but to include the features that non-technical people require.

In that regard, I guess it is featureful as it is :)
My take would be for it to replace luci in the default image, and allow the hackers to add luci if desired.

[2018-03-21 22:04] nicopace commented on #331
How do we proceed with this?
Can we close it?
more than 30 days without update here.

[2018-03-21 23:13] aparcar commented on #331
I think @dangowrt should reply first

[2018-03-21 23:36] dangowrt commented on #331
We haven't concluded on a way to handle this. For now I got a dirty local patches to simply remove all conditional dependencies and that works for me. But I beleieve it is an issue which should be adressed upstream because I'd rather want to use chef-built images.
In a way, the problem are really just the dependencies of `lime-webui` and `lime-map-agent`, because all other packages with conditiona

[2018-03-22 17:29] nicopace commented on #195
I would go for a progressive enhancement approach... a link for now would suffice.
Also, asciidoc was ment to be read in ascii, so we shouldn't bother much about that.
@ilario is that something u can do? (A menu option in luci for accessing the docs).

[2018-03-22 17:46] nicopace commented on #303
Are we also using the bmx6 version?
I guess a very cheap step could be to integrate the qmp implementation... and based on that generalize the bmx7 one... does it make sense?

[2018-03-27 19:28] patogit commented on #257
now that #336 is merged, what's the next step?

[2018-04-02 13:31] patogit commented on #257
Do we need to make any more changes on our end, @Nikerabbit ?

[2018-04-12 11:58] Nikerabbit commented on #257
I think the pot file is good now, but I will have to confirm by testing, but I only have time for that next week.

[2018-04-18 23:05] modante opened #346 "Internet connectivity drops comes back again"
I have a mesh with this nodes topology: A(gateway) <> B <> C <> D
A, B and C are connected through 5 GHz mesh wlan and C and D are connected through 2,4 GHz mesh wlan. They are connected in a linear form; this means that in order to get internet connection in C or D, B has to work fine.

The mesh with Nodes A, B and C has been working for 2 months without issues with clean installs of lime dayboot

[2018-04-19 12:32] modante commented on #346
Ok. 40 hour after the cleaning made in all the nodes of the mesh, I can conclude that almost in all the cases what happens is that:
- Node A (gateway) never looses internet connectivity
- Node B, C and D loos their internet connectivity in less than two hours average (sometimes in minutes, sometimes after 4 or 5 hours).

When all is working fine, in nodes B, C and D, in the list of "Gateways tunne

[2018-04-19 13:47] modante commented on #346
A new discovery. I ran a ping script in the node B in order to know exactly when internet connectivity dropped and the last pong was at this time:

`Thu Apr 19 10:35:08 -03 2018: 64 bytes from 74.125.130.94: icmp_req=547 ttl=38 `

At 10:35:08 was the last pong. I adviced that Node A just rebooted at 10:31 I don't know why:
`
Thu Apr 19 10:31:04 2018 kern.notice kernel: [    0.000000] Linux version

[2018-04-19 13:50] modante commented on #346
Thanks @nicoechaniz gmarcos87. I will try this the next time.
By now I am going to try something that I tried months ago related with an issue about whatchping (https://github.com/libremesh/lime-packages/issues/265)

[2018-04-19 14:09] modante commented on #346
More tests: I have added sleep 10 to the /etc/init.d/watchping in order to give the enough time to the WAN connection on Node A to establish. When I add this sleep at the beginning of the watchping script, after rebooting the gateway tunnels propagates fine. If I don't add this line, after rebooting I have to manually disconnect and connect WAN in order to get the propagation.
[code]
Before adding

[2018-04-20 14:26] modante commented on #346
Back again with my homemade workarounds.
I have added a line to the cron service in Node A (gateway) in order to announce the WAN each 3 minutes:
*/3 * * * * /etc/watchping/wan-ok.d/bmx6-gw
Probably is not very orthodox but is the further that I can get and has been working the last 12 hours.

Off topic:
@gmarcos87 asked me to post in the lime users mailing list and I did it.
Then there somebody a

[2018-04-20 14:53] dangowrt commented on #346
This bug is due to bmx6 (or bmx7) crashing and restarting and then loosing it's temporary settings created by the previous wan-up event. I guess the best would be to keep watchping's state and make sure it is re-applied when ever the routing daemon restarts for any reason -- of course it'd be desireable to have bmx not crash, and for that it'd also be great to know the cause of the crash.
Maybe so

[2018-04-20 20:51] modante commented on #346
@dangowrt ok I understand.
By now I am going to keep my homemade workaround because I am not sure about how to get what you say. But is great to feel I am not alone :-)
What I cannot understand is why didn't happened before the reflashing because I am recreating the same configuration!
Thank you very much and regards :-)

[2018-04-21 08:06] axn commented on #346
On 20.04.2018 16:53, Daniel Golle wrote:

Could anyone please give some evidence that bmx6 crashes?
Like a logread dump that reports bmx6s crash (and ideally the bmx6 error
code or even better a core dump?

Full ack

Have you seen this bug causing bmx6 to crash? The issue just reports
that bmx6 detects wrong interface properties

[2018-04-21 08:12] axn commented on #346
@dangowrt thx for https://github.com/bmx-routing/bmx7/issues/20

On 21.04.2018 10:06, Axel Neumann wrote:

[2018-04-21 12:58] modante commented on #346
@axn: Sorry but I don't have enough skill to answer your questions. If you give me details about which log you need I will paste it here.
By now, the homemade workaround is working.
Thanks and regards :-)

[2018-04-21 15:01] axn commented on #346
I think I could fix the analogue problem for bmx7 [1,2].
Once I get some feedback if they work I'll backport to bmx6.

[1] https://github.com/bmx-routing/bmx7/issues/20#issuecomment-383291996
[2] https://github.com/bmx-routing/bmx7/issues/19#issuecomment-383298443

On 21.04.2018 14:58, Modante wrote:

[2018-04-23 21:04] modante commented on #346
I can test it if you publish the package or whatever.

[2018-04-24 19:53] bitchecker commented on #334
but in this case, 2.4Ghz is used for users and 5Ghz for routers by default or it depends from configuration?

i think that a real scenario implementation example will be help a lot on documentation.

[2018-04-25 06:48] axn commented on #346
If no more problems with the bmx7 fixes ( https://github.com/bmx-routing/bmx7/commits/fixes )  are reported today i'll work on the bmx6 backports packages this evening

Am 23. April 2018 23:05:00 MESZ schrieb Modante <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2018-04-25 20:18] dangowrt commented on #144
Just confirming that this bug still exists, even when using 802.11s and also when using wpa_supplicant for SAE and/or DFS. Seems like we need some kind of interface watchdog... cotonete doesn't work for me and seems to be outdated. I also noted that in case of a deaf phy in 802.11s SAE mode the peers disappear entirely from the assoclist, so the logic in cotonete wouldn't work in that case even if

[2018-04-26 06:42] axn commented on #346
For bmx6  you could test by using the lede-17.01 feed from here: https://github.com/bmx-routing/openwrt-routing-packages.git If you can report that it works stable i can fix that upstream. Later I'll also provide a bmx6 version bump for openwrt-routing master branch

Am 23. April 2018 23:05:00 MESZ schrieb Modante <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K

[2018-04-27 04:06] patogit commented on #257
@Nikerabbit any progress?

[2018-04-27 11:47] modante commented on #346
@axn: sorry but I don't have skills to install the new bmx patched version without any help.
If anybody can explain me how should I proceed, I have some time these days to test it.
Is there any ipk to install? Or should I compile anything? Because I don't know how to compile on lede.

[2018-04-28 12:03] aparcar commented on #208
Thanks to @dangowrt various merges (starting with https://github.com/openwrt/openwrt/commit/d88934aa5aa9b61ec66a6f7ae0fb61d1ef889884) it's now eventually supported!
You're required to install `wpad-mesh` as mentioned before.
The patches are tested and already in use, they work very well! The connection process between nodes will take longer then before.

The patch brings also support for [DFS](htt

[2018-04-28 12:03] #208 closed

[2018-05-03 14:05] pedro-nonfree commented on #346
@modante I think I can assist on that:

Try this guide I wrote: https://github.com/guifi-exo/wiki/blob/master/howto/lime-sdk.md

To select a particular bmx6 commit: https://github.com/guifi-exo/wiki/blob/master/howto/openwrt_template.md#how-to-use-a-particular-bmx6-commit

(feedback about clarity is appreciated)

Looks like lede-17.01 feed is the default feed in lime-sdk

[code]

[2018-05-06 23:43] aparcar commented on #296
Closed. All implemented here https://github.com/aparcar/meshrc

[2018-05-06 23:43] #296 closed

[2018-05-06 23:43] aparcar commented on #304
Closed. All implemented here https://github.com/aparcar/meshrc

[2018-05-06 23:43] #304 closed

[2018-05-08 04:24] aparcar opened #352 "lime-apply: remove it or update it"
If watchping isn't installed the following error appears:

[code]

[2018-05-08 04:26] aparcar opened #353 "wireless.lua: don't fail if no wifi modes are set"
If no wifi modes are set the wireless configuration fails

[2018-05-08 05:11] aparcar commented on #352
@p4u @axn

Is this workaround still required or can we completely remove it?
https://github.com/libremesh/lime-packages/blob/develop/packages/lime-system/files/usr/bin/lime-apply#L15

On bmx7 it seems to change and distribute the hostname even without a restarting/reloading bmx7 nor running lime-config

[2018-05-08 20:59] #353 closed

[2018-05-09 14:46] ciaby commented on #99
I'm also interested in having Wireguard as a possible VPN backbone protocol when site-to-site wifi links are not feasible. I already tried to set it up manually, but there is no traffic going to the VPN even with a static route. What should be done to integrate it into LiMe?

[2018-05-10 19:47] patogit commented on #257
@Nikerabbit, can we expect this to be working in the next week? I'm looking at setting up some other system for translating until TranslateWiki is functional, and I'm deciding how much energy to invest in creating the alternative. If TranslateWiki will be usable next week, then we'll just use a few spreadsheets. If TranslateWiki won't be available for this project until next month or later, then w

[2018-05-12 23:34] patogit commented on #76
Our use case in rural Ecuador is a bit different. Right now, we think of the community network as a commons, and not as a free-for-all. (Maybe someday that will change, and anyone with a device can access the Internet for free, because our face-to-face coordination will function well, and maybe we'll have a free connection from some institution's extra "bandwidth".)

For now, seeing the Internet a

[2018-05-13 03:15] aparcar commented on #352
@axn ping?

[2018-05-13 03:29] dangowrt commented on #352
Yes, because procd is handling the reloads...

[2018-05-14 03:10] aparcar opened #355 "bridging all eth interfaces results in random MAC"
TL;DR: If all interfaces are bridged, should `primary_interface` become `br-lan` for static MAC addresses?

Using the IP placeholder `%m` to use a hash based of the *static* MAC I realized that the MAC address changes if eth0 and eth1 are bridged together. That's the automatic setup of `lime-system` if `lime-hwd-openwrt-wan` isn't installed.

The used MAC is based on the option `primary_interface`

[2018-05-14 07:31] Nikerabbit commented on #257
Hi, I will check again now.

[2018-05-14 07:59] Nikerabbit commented on #257
Chef looks okay now, I can enable it whenever you want.

For the other two, I still see a bad qqq.json and a missing pot file. As far as I know you have fixed these, is that right? So I wonder why I cannot see those changes. Can you check whether the following configuration is correct (repo and branch):
[code]

[2018-05-14 14:09] patogit commented on #257
figuring this out now. I think I overlooked the coordination between branches. I'll update branches.

[2018-05-14 14:10] brunovianna commented on #76
Hi Pato

Just to be sure, we always use time limit on the codes. They're set by
default for 30 days, but you can change it if you'd like.

--

bruno@pobox.com ▀─█▄██▄▀▄
http://brunovianna.net ─█▄██▄▀█▀█▄
skype: randomico▀─█▄██▄▀█▀█▄▌██─█▌█▌

[2018-05-14 14:40] patogit commented on #257
This is what I did, guided by @gmarcos87 (noting it here for future reference):
[code]

[2018-05-14 14:41] patogit commented on #257
Now I've done the same with lime-packages:
https://github.com/translation-bridge/lime-packages/tree/feature/tw-translations/packages/lime-webui/po

[2018-05-14 14:45] patogit commented on #257
@Nikerabbit, in the config you posted, chef doesn't require specifying the `master` branch?

[2018-05-14 14:50] patogit commented on #257
We also plan to use the page translation tool to translate how-to guides, software readme files, and website pages. As I understand, we'll have to paste all of that into pages we create on TranslateWiki, and then copy the translations to the appropriate places.

[2018-05-14 14:52] Nikerabbit commented on #257
1) The generic.json is not actually needed here. en.json is sufficient. lime-app looks now okay too.

2) `master` is default value and can be left out

3) With lime-packages I get the following error: Contents of /resources/projects/libremesh/lime-packages/packages/lime-webui/po/es/lime-webui.po are not valid utf-8

Can you (or I) convert it to utf-8? It's currently in some ISO-8859 encoding.

4)

[2018-05-14 15:03] patogit commented on #257
I'm asking developers to make sure that switching to UTF-8 won't crash the routers.

Ok, continuing the thread from https://github.com/libremesh/lime-packages/issues/257#issuecomment-365522564 . Would you prefer to discuss on GitHub, on TranslateWiki, via email, on Riot/Matrix, or some other channel?

[2018-05-14 15:10] patogit commented on #76
How? Is the expiration time hard-coded, or is it relative to when the code is used/activated? Do all the codes have to expire at the same time, or can some codes expire an hour after being activated, and others expire a month after being activated?

(Even if we decide not to use them in the network where I live, others might want this.)

[2018-05-14 15:15] brunovianna commented on #76
the system counts 30 days from the moment the user enters the code for the
first time.
you can see the timestamp recorded on the db.csv file.

line 16 on the vale.sh script sets the number of seconds after the first
use:
https://github.com/coolabnet/lime-packages/blob/develop/packages/vale/files/usr/bin/vale.sh

On Mon, May 14, 2018 at 12:10 PM, patogit <notifications@github.com> wrote:

--

bruno

[2018-05-14 15:18] Nikerabbit commented on #257
Email, Telegram, GitHub and IRC are all okay to me, pick your poison :)

[2018-05-14 15:33] patogit commented on #257
opened https://github.com/libremesh/lime-packages/pull/357 to change encoding to UTF-8, since developer responses via text chat were not decisive.

[2018-05-14 16:09] patogit commented on #257
what email address?

[2018-05-14 16:43] patogit commented on #257
I'll send an email to you and the lime-users list, if that's ok with you. Otherwise, we can have the conversation on GitHub.

[2018-05-14 16:48] Nikerabbit commented on #257
I'm niklas.laxstrom at gmail.com

[2018-05-15 15:39] patogit commented on #257
@Nikerabbit I think everything is ready to go. I just realized that since TW will import from the translation-bridge repo, and I've already made the UTF-8 change there and tested it on a router, it's ready. (We don't have to wait for the official repo to pull the change.)

So, please enable all three!

[2018-05-15 17:00] brunovianna commented on #76
Yes, that is possible, but you can also get the number of valid seconds
just by subtracting initial timestamp from the current time at any moment
you need it :)

On Mon, May 14, 2018 at 1:21 PM, patogit <notifications@github.com> wrote:

--

bruno@pobox.com ▀─█▄██▄▀▄
http://brunovianna.net ─█▄██▄▀█▀█▄
skype: randomico▀─█▄██▄▀█▀█▄▌██─█▌█▌

[2018-05-15 17:05] patogit commented on #257
pull request closed, so now everything is in order in the official repo too. Thanks @G10h4ck

[2018-05-16 10:52] Nikerabbit commented on #257
This is now live: https://translatewiki.net/w/i.php?title=Special:Translate&group=libremesh

I've marked it as experimental which in practice is only about letting translators to know that there might be hiccups in integration and until https://translatewiki.net/wiki/Setup_of_a_new_project#Wiki_configuration is completed. Help is welcome there.

[2018-05-16 14:28] patogit commented on #257
**Thank you @Nikerabbit and the LibreMesh folks who've helped get this set up!**

I have:
1. Added LibreMesh to https://translatewiki.net/wiki/Group_descriptions but it doesn't show up as available to translate into Spanish.
2. Put some starting info on https://translatewiki.net/wiki/Translating:LibreMesh.
3. Created the LibreMesh category, support category, user template. Put the logo on all the

[2018-05-16 14:43] Nikerabbit commented on #257
1) I've marked the page for translation. You can find it here https://translatewiki.net/w/i.php?title=Special:Translate&group=page-Group+descriptions&action=page&filter=%21translated&language=es
2) Thanks! I made some tweaks
3) Yay!
4) Yay!
5) These are new translations already coming in from our community :)
6) Nice

Next steps for me is to make sure also export back to github repo works, some tw

[2018-05-17 17:56] brunovianna commented on #76
yes, that makes perfect sense. some places here wanted to sell different
codes for tourists (3 days) and neighbors (30 days).

but for that you'll need more coding.  if you get it to work, let us know!

also, hiure wrote some a nice managing script for the vouchers:
https://github.com/coolabnet/VoucherAdmin-v2.0

On Tue, May 15, 2018 at 2:14 PM, patogit <notifications@github.com> wrote:

--

bruno

[2018-05-19 16:20] patogit opened #360 "add new languages to dropdown menu"
where is the file that controls the interface language selection dropdown menu on the System > System page in the "Language & Style" tab?

[2018-05-20 21:54] nicopace commented on #360
I guess this is a thing of OpenWRT/LuCi, not ours, but we can override their setting if we want.

Also, would be cool to add a dropdown menu on the top of the site to be able to change language at each session.

[2018-05-21 14:12] patogit commented on #360
so it might be somewhere in [the luci code on github](https://github.com/openwrt/luci/tree/master)?

I agree!

[2018-05-21 14:49] patogit commented on #257
@nicopace our promise to translatewiki.net was to act promptly on pull requests related to translation (https://github.com/libremesh/lime-packages/issues/257#issuecomment-346884784). This has happened for chef and lime-app, but there are two and soon will be three pull requests for lime-packages that need attention. Who can be a reliable person or two people to merge pull requests to lime-packages

[2018-05-21 23:49] nicopace commented on #360
It looks like you are right!
Don't have the mental space to try it, but if you want to do a VM with this, you can use my instructions here: https://blog.freifunk.net/2017/07/22/streamline-app-development-openwrt/
(found them after searching for some time @gmarcos87 comments... and I did that documentation! duh!)

[2018-05-21 23:53] nicopace commented on #360
Marcos provides his link also: https://github.com/gmarcos87/lime-virtualbox

[2018-05-22 09:36] nicopace commented on #257
I did... But I'm worried about the peer review... How will we ensure that the translations are actuate?

On May 21, 2018 9:49:05 AM CDT, patogit <notifications@github.com> wrote:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2018-05-22 10:19] Nikerabbit commented on #257
I can answer to that briefly:
# We vet (check) translators who sign-up to keep out spammers and vandals
# We provide [review tools](https://www.mediawiki.org/wiki/Help:Extension:Translate/Quality_assurance).

The best way to support high quality translations is to provide message documentation (which you have), a glossary/terminology and good quality English source strings.

Our large translation

[2018-05-22 14:15] nicopace commented on #257
Thanks Nick!

Will be merging the changes as they go.

Some other things:
* how are we gonna deal with new languages: indigenous communities have languages that may not have been classified
* can translations be based in spanish or french instead of English sometimes? The second language is not always english
* how are we gonna do with upstream translations (ie openwrt luci)

Regards

On May 22, 2

[2018-05-22 14:39] Nikerabbit commented on #257
We have a pretty good coverage of languages already (500+) and can add more if the language has a language code (many thousands already do). How likely is that you will have translators for a language that does not have a standard code yet?

We have setting in user preferences that can be used to display translations from language(s) other than English in the translation interface. We are explorin

[2018-05-22 14:44] nicopace commented on #257
On 2018-05-22 09:39 AM, Niklas Laxström wrote:

That is great!

Don't know... just asking. Also, we work in First nation territories, so
it may happen... that is why I ask :)
Thanks for the fast response btw!

Excellent, thanks!!!

this one was more general, and to Pato to see if he tought about it

[2018-05-23 08:58] aparcar opened #361 "auto build snapshot packages via travis"
Using the travis matrix we can build up to 200 different combinations, would be handy to update a (currently non existing) snapshot fileserver whenever a push is made to the dev branch.

![image](https://user-images.githubusercontent.com/16000931/40414244-b2408f46-5eb2-11e8-9d82-46eee279fd19.png)

[2018-05-23 16:55] aparcar commented on #361
https://github.com/aparcar/lime-packages/commit/b54207fbe4f4e65d21eb90edc4af58495591cfa0

[2018-05-26 14:10] aparcar commented on #281
The links to the mail doesn't work anymore, could you elaborate on the problem or close the issue?

[2018-05-26 21:42] nicopace opened #366 "Implement a way within the lime-app to submit a network-profile from the web interface"
In this way communities that don't have technical expertise can submit profiles to the github and use attended-updates.
@gmarcos87 @aparcar

[2018-05-26 22:30] nicopace opened #367 "GroundRouting: connecting internet with static IP"
USECASE: ISPs that give static ips instead of dhcp in the network.

Expected behaviour: the app to allow the user to set the ip.

[2018-05-27 00:42] G10h4ck commented on #367
I believe groundrouting is not related to this usecase

[2018-05-27 13:53] aparcar opened #369 "Evaluate DDHCPD as alfred replacement"
[DDHCPD](https://github.com/sargon/ddhcpd) could do some work for us automatically, couldn't it?

We should evaluate that and may do a migration do get rid of various existing problems.

[2018-05-27 13:53] aparcar commented on #345
related https://github.com/libremesh/lime-packages/issues/369

[2018-05-28 09:17] ilario commented on #243
@modante did you try to do the pull request on this?

[2018-05-28 09:19] ilario commented on #281
I think this refers to the problem that "smonit" fixes re-running DNSmasq when finds it dead.
So, the problem is that DNSmasq is very likely to die during the boot.
A lot of other issues are related to this one, for example the ones I mentioned in a previous comment and also #243

[2018-05-30 00:51] nicopace commented on #369
@nicoechaniz

[2018-05-30 05:57] nicopace commented on #367
Many of the conversations we have been having about how to reimplement groundrouting using media detection (mainly with @nicoechaniz ) include detecting what happens on the other side of the wire for every wire that is connected.
that is, if there is a dhcp server, if there is another libremesh device, or if there is none, and how to proceed with each.

[2018-05-30 14:22] patogit commented on #257
Hi @Nikerabbit,

I hope the Wikimedia Hackathon went well.

Seems like the process is working in both directions.

Any progress thinking about the translation of our other content that isn't in translation files?

I'll gather my thoughts about the process into clear feedback sometime on June-ish.

[2018-06-01 02:37] aparcar commented on #268
@dangowet works on a smaller version called wpad-mesh-wolftls. We should check the size impact and may move.

[2018-06-01 07:23] 1am opened #372 "LiMe > Collections empty"
Hello

I'm trying to add LibreMesh to my existing build and after adding package feeds from https://github.com/libremesh/lime-packages or https://github.com/libremesh/lime-packages;develop (which is pretty much the same) I don't see any options to select in "LiMe > Collections" though there's multiple options available in LiMe section and the "Collections" subsection is visible.

I was aiming into

[2018-06-01 07:32] aparcar commented on #372
I'm not sure but `lime-full` requires `lime-base` requires `lime-proto-anygw` which [requires to deselect dnsmasq](https://github.com/libremesh/lime-packages/blob/develop/packages/lime-proto-anygw/Makefile#L25)

Maybe the same problem as here: https://github.com/libremesh/lime-packages/issues/104

But just a guess

[2018-06-01 07:40] 1am commented on #372
Thank you for your time. This was exactly this. I've deselected previously dnsmasq but probably restored it afterwards.

[2018-06-01 07:40] #372 closed

[2018-06-03 03:08] patogit commented on #257
Continuing [the conversation from this email](https://lists.libremesh.org/pipermail/lime-users/2018-May/001146.html) regarding translation of other files: Most of the files are in plain text at the moment, so I'm considering two options:

1. Page translation, as explained [here](https://www.mediawiki.org/wiki/Help:Extension:Translate/Page_translation_example).
2. use [txt2po](http://docs.translate

[2018-06-03 03:33] patogit commented on #257
Something to understand about our current workflow: The instructional booklets (and some other documentation) are created in Spanish, not English. So either:

a) we need a way to mark Spanish as the source language (and maybe when English translation is complete, switch the source language to English in order to facilitate translation into other languages; or
b) we need to translate to English bef

[2018-06-03 03:38] patogit commented on #257
@Nikerabbit you once mentioned that we could upload screenshots for message documentation to translatewiki.net, and this would enable directly showing the images in the translator interface, instead of showing a link to the image hosted on GtiHub as we do right now. To do this, I just upload files using the https://translatewiki.net/wiki/Special:Upload page? Is there any way to upload files in bul

[2018-06-03 19:45] patogit commented on #257
@Nikerabbit are the pages of translatewiki.net indexed be search engines? I imagine they are not. I just want to confirm, because it doesn't make sense for users to end up at translatewiki.net when they search for LibreMesh documentation -- we want them to go to the LibreMesh website.

[2018-06-04 00:54] modante commented on #243
@ilario what do you mean? Sorry but I am not familiar with this terms and I don't understand what you mean with "pull request".

[2018-06-04 00:59] modante commented on #346
@pedro-nonfree sorry but still I am lost about how to get bmx patched in order to test it in my setup. I have no skill in git, branches, compilations, and all this stuff and the links you gave me doesn't help me because I would need to start from almost zero :-(
Thanks and regards :-)

[2018-06-04 09:21] aparcar opened #375 "anygw: replace dnsmasq-dhcpv6 with odhcpd-ipv6only"
The latter is already standard for OpenWrt and comes preinstalled. It still creates entries in `/tmp/hosts` so DNS (sharing) shoudl continue to work.

[2018-06-10 13:08] modante commented on #261
I have talked with the neighbors about the creation of a Free WiFi Spot for the neighborhood but with limited internet access and their agree that would be great for the ones that have no other way to connect to internet for economical reasons. Then I am searching a way to do it that fits in my times, lack of technical knowledge and that doesn't breaks what is working fine 6 months ago.

Pitbull i

[2018-06-10 17:53] patogit commented on #257
I added translate tags to our project page, but it won't let me enable translations.

For ease of dealing with the files instead of wiki pages, I'm favoring the idea of creating a GitHub repo for our documents and connecting it to translatewiki.net. We can use txt2po, and structure the repo like this:
[code]

Or does the repo need a different structure?

[2018-06-10 18:37] Nikerabbit commented on #257
We don't translate project pages, at least not currently.

The repo structure looks okay, but I'd like to have look what do the po(t) files look like to make sure the they are appropriate for the translatewiki.net.

[2018-06-10 22:21] G10h4ck commented on #257
I think it is better to have one repository for each document

[2018-06-11 12:27] patogit commented on #257
@Nikerabbit , here's the beginning of a file run through txt2po. I'm just pasting it here because this is easier for me. The actual file I know needs to be in UTF-8. How does this look?

[code]

[2018-06-12 02:28] aparcar commented on #352
@dangowrt ping

[2018-06-12 09:15] dangowrt commented on #352
To my understanding lime-apply is a work-around from pre-procd times. Nowadays services can define reload-triggers and get signalled on configuration changes automatically. Imho lime-apply can be dropped as a whole, I never used it and I'm not aware of any use-cases where a work-around like that would be required. Anyone else?

[2018-06-13 03:50] aparcar commented on #375
related https://github.com/openwrt/odhcpd/issues/113

[2018-06-13 03:53] aparcar commented on #352
@dangowrt so Alfred lacks procd support but that should be easy to fix.

Lime apply runs a network reload, so that may be the only thing to run manually, as bmx + Alfred + watching could be reloaded via procd

[2018-06-13 09:04] aparcar commented on #352
related https://github.com/openwrt-routing/packages/issues/388

[2018-06-13 11:05] aparcar commented on #352
related https://github.com/openwrt-routing/packages/pull/389

[2018-06-17 04:14] aparcar opened #383 "broken client mode for wireless"
[code]

creates the following output in `/etc/config/wireless`
[code]

However I think `lm-net_wlan0_sta` isn't created. The official script simplify creates an `wwan` interface with dhcp and wan firewall enabled, I think we should do the same.

[2018-06-18 10:18] Nikerabbit commented on #257
I suppose that's okay length-wise. Did you decide how to translate them to English and how much of text there is going to be overall?

[2018-06-19 00:58] aparcar commented on #355
This was due to a hardware limitation of a specific device.
The bug solved with this PR https://github.com/libremesh/lime-packages/pull/384

[2018-06-19 00:58] #355 closed

[2018-06-19 01:01] aparcar commented on #308
I adapted to @G10h4ck style but the camel case, I stick to `_`.

Closing

[2018-06-19 01:01] #308 closed

[2018-06-19 03:10] patogit commented on #257
I can translate them to English before uploading, that seems the easiest.

Multiple booklets (maybe 6 booklets with about 1700 words each, though I'm not certain), and some web pages. If it works well, we could use it for more texts in the future.

[2018-06-19 22:57] patogit commented on #360
@gmarcos87 instructions look helpful, if I install VirtualBox, which I would rather avoid in order to save disk space and bandwidth (I'm on a really slow connection at the moment).

@nicopace your instructions leave me wondering if it worked or not, because of the line:

I already have virt-manager with LXC installed on my system (Manjaro, based on Arch) Any hints on how to do this with virt-manag

[2018-06-20 10:28] nicopace commented on #360
Haven't done it in a while.
Would say go for Marcos solution and if it does not work I can check that again.

[2018-06-20 10:34] nicopace commented on #257
@patogit done

[2018-06-20 10:39] nicopace commented on #375
It is definitely one of the pain in the ass to be using dnsmasq as it breaks all the time.
I don't know how odhcpd behaves, we should test it out for robustness? or should we trust blindly? :)

[2018-06-20 10:42] nicopace commented on #261
Pitbull does not have an initial plan for bandwith rating for now, but may have in the future.
It is also relevant what was said in the mailing list, shaping does not get you too far, cause the bandwidth was already used, you are just stopping it from getting to the client (and adding lots of buffers in the process).

Would be great if you create an article about it if you make it (and also, the u

[2018-06-20 10:45] nicopace commented on #346
I think this got already patched, so you can try doing `./cooker --update-communities --update-feeds` and then rebuild the packages with ./cooker -b <your target>` before you rebuild your images.

[2018-06-20 10:45] aparcar commented on #375
odhcpd-ipv6only is used in LEDE stable and the upcoming 18.06 release, so it should be fairly stable. If I remember correct @dangowrt suggested this before, so I'm just following up on that.

odhcpd as a full dnsmasq dhcp replacement brings the current limitation that odhcpd does not (yet https://github.com/openwrt/odhcpd/issues/113) allow any lease input, meaning lease sharing wouldn't work. Howe

[2018-06-20 10:52] dangowrt commented on #261
TCP window scaling works perfectly well for incoming TCP traffic,
most UDP protocols which use significant amounts of bandwidth
(eg. BitTorrent uTP) can also very effectively control their
consumption. Large RTP streams (say: WebRTC video) are also
usually driven by some kind of bandwidth adaptation, so that also
shouldn't lead to a lot of packages being dropped at the wrong
end of the bottlekneck

[2018-06-21 01:58] patogit commented on #257
@Nikerabbit can you check the structure of this repo and tell us if it looks feasible? https://github.com/patogit/lime-docs

[2018-06-21 15:10] aparcar commented on #261
maybe related https://github.com/openwrt/packages/pull/5926

[2018-06-21 18:49] patogit commented on #257
Thinking about the process of translatewiki.net creating new translation files, and the structure of the lime-packages repo which uses PO files, I wonder if translatewiki.net would function better with a structure like this:
[code]
What do you think @Nikerabbit ?

[2018-06-21 21:07] patogit commented on #360
I installed VirtualBox, and got the image to boot to the console, and got the IP, but the LuCi interface doesn't load in my browser (even though in the LuCi interface for other nodes on the network, the VM node shows up on the list of mesh nodes).

I ran the `packages/lime-webui/build_i18n.sh` script , which gave some errors and generated some files, and I committed those files and submitted a pul

[2018-06-21 21:22] patogit commented on #360
This files seems relevant too:
https://github.com/libremesh/lime-packages/blob/b5681f4e8985aab0735b2a4d8f682a2cfb65fcf4/packages/lime-webui/Makefile

It defines Spanish, Portuguese, and German language support packages... but as far as I know the only language options so far have been English and Spanish. It was last edited 9 months ago in September.

[2018-06-21 21:54] patogit opened #389 "create easy, reliable virtual machine workflow for testing"
Currently there are three sets of instructions to run LibreMesh in a virtual machine, and none of them work for me. I use Manjaro (Arch derivative). Right now I need this in order to test language handling and translation of LuCi and LimeApp, so any option that doesn't let me access those things isn't useful.

1. in the lime-sdk Readme https://github.com/libremesh/lime-sdk/blob/master/README.md#us

[2018-06-23 07:59] aparcar opened #390 "mesh-dns: design uci config"
How should the config file of `mesh-dns` look like? Here a possible approach

[code]

[2018-06-23 08:01] aparcar commented on #389
would it make sense to offer Docker images as?

[2018-06-23 09:10] dangowrt commented on #303
On Sat, Jun 23, 2018 at 12:27:07AM -0700, Paul Spooren wrote:

Imho mesh-dns can very well be realized be extending exactly this
`mdnsd` package, it already got most the things we need, no need
to reimplement all the DNS protocol, caching, etc. from scratch.

[2018-06-23 09:12] aparcar commented on #303
I think the idea of mesh-dns is to gather dns entries and put them into /tmp/hosts/ to let whatever DNS tool do the real DNS handling...?

[2018-06-23 10:53] aparcar commented on #389
Hi @patogit , I started to work on automatic Docker builds [here](https://github.com/aparcar/libremesh-docker) and could move it to the official libremesh account once approved.

Pleaes give the Docker image `aparcar/libremesh` a try, the tags `stable` (17.06) and `latest` (openwrt snapshot + lime-packages master branch) are available.

I have no experience with LXC/qemu on Mac/Windows so I'd sugg

[2018-06-23 16:12] patogit commented on #389
Hi @aparcar , great that you've made this, and I don't know what to do with it. The only Docker command I know is the one to cook:
[code]
1) What command(s) do I run in order to test the images you created?
2) How do I build them with modified files, (for example I modify a translation file or a language selection menu)?
3) Does it matter at all that the Docker images are x86_64 and the routers ar

[2018-06-23 16:21] aparcar commented on #389
1. I'll create a README.md
2. as for 1.
3. No that should not matter for your translation use case

[2018-06-23 16:37] patogit commented on #389
Great!

The most complicated thing I'm modifying is https://github.com/libremesh/lime-packages/issues/360 but even this is pretty basic stuff where the architecture doesn't matter as far as I know, all LuCi interface stuff.

[2018-06-23 16:57] aparcar commented on #389
check out the [README.md](https://github.com/aparcar/libremesh-docker/blob/master/README.md)

[2018-06-23 17:14] patogit commented on #389
Seems like we're moving a good direction, as this is all very easy and lightweight (no huge downloads or long build times), but it's not working yet:
[code]
Then in my browser I go to those two IP addresses and nothing... makes sense, as those IPs aren't in the subnet of my LibreMesh network. Maybe because it's the latest version, and different versions of LibreMesh don't tend to be compatible.

S

[2018-06-23 17:16] patogit commented on #389
Yesterday with a VirtualBox image following @gmarcos87 instructions, the new LibreMesh node had a local IP and appeared on the list of nodes when I went to thisnode.info on my router.

[2018-06-23 17:28] aparcar commented on #389
@patogit thanks for testing, I'll look into this. Please post all further issues on the repo aparcar/libremesh-docker

[2018-06-23 19:59] nicopace commented on #303
@aparcar you are right.
The idea is for all mesh nodes to be aware of the names of the hosts in the network.
So each node needs to share with the rest those that were registered on them.

[2018-06-23 20:02] nicopace commented on #390
I would say let's not get this out of /etc/config/lime-defaults cause it is what we are using now for FirstBootWizard.
Or... we will need to create a bridge from /etc/config/lime-defauts to mesh-dns

[2018-06-24 18:43] Nikerabbit commented on #257
The directory structure doesn't really matter for us as long as it is consistent for each translation.

[2018-06-25 16:55] aparcar commented on #390
I see this as two different things. Implementing a script that uses entries from lime-defaults as dns entries is fairly trivial (aka copying it to /hosts/tmp/lime-defaults-dns && dnsmasq reload) while the (my) idea of mesh-dns is that hosts setup entries and share them over the network.

Combining both results in the problem of entry changes, you'd have to update all previously setup nodes else it

[2018-06-28 14:47] p4u opened #391 "Detection of primary network device based on board.json fails on routers with 3 ethernet devices"
`lime-config` fails in APU2 (3x ethernet devices) with the following error

[code]
That problem is somehow related with /usr/lib/lua/lime/board.sh when trying to get the primary ethernet device for getting the MAC address. Somehow the value "eth0 eth1" goes inside the function to get the mac address (including the space).

Here the content of board.json

[code]
I'd say the problem is that lime cod

[2018-06-28 15:01] aparcar commented on #391
Please test https://github.com/libremesh/lime-packages/pull/392 (rtt 12 min)

[2018-07-02 08:01] aparcar commented on #369
This could remove the need of dnsmasq-lease-share, I'll set up a test config and share it here

[2018-07-02 18:50] nicopace commented on #369
We need efficient mesh data distribution for many things (leases, dns, pitbull authorized macs, messaging, ...).
We need to abstract this in order to have it no matter what changes we do with the routing protocols.
@G10h4ck is this happening now?

[2018-07-04 10:34] aparcar commented on #369
So what do?

[2018-07-25 12:54] strozl opened #397 "Recursive dependency detected"
Hello,

i am trying to make custom firmware with lime-packages included and i followed readme https://github.com/libremesh/lime-packages/blob/master/README.md
and also tried with openwrt releases v18.06.0-rc2, v17.01.5 v17.01.0, but i am getting this error about recursive dependecy:
[code]
and because of that recursive dependency warning i can't go into Collections submenu inside LiMe menu on menu

[2018-08-23 18:58] #397 closed

[2018-09-14 14:59] patogit opened #403 "Include an option to spoof internet connectivity"
In order to avoid the automatic disconnection of phones from LibreMesh WiFi networks when the network does not have internet connectivity, it is necessary to fool the phone by spoofing internet connectivity. Some networks may not want this behavior, so it should be an option that is deactivated by default.

For example, my Android 6.0.1 phone automatically disconnects from any WiFi network within

[2018-09-14 15:06] patogit commented on #403
continuing the thread started here https://lists.libremesh.org/pipermail/lime-users/2018-August/001275.html

[2018-09-23 21:40] patogit commented on #257
@Nikerabbit , this is ready for translatewiki.net now https://github.com/translation-bridge/lime-docs . Note that I added `.pdf.txt` to `.gitignore` because I'm using that extension to store the URL of the PDF file for each language, so the `.pdf.txt` files do not need translating.

[2018-09-24 10:59] Nikerabbit commented on #257
I am traveling this week. Feel free to ping me again if I haven't replied by early October.

[2018-10-01 18:39] ilario commented on #334
By default both (2.4 and 5 GHz) are used for both (AP and mesh).
One can specify that one interface has to be used just for mesh or just for AP as shown in the example [here](https://github.com/libremesh/lime-packages/blob/master/packages/lime-docs/files/lime-example#L82) (the example contains a typo: it's not ieee89211s but ieee80211s). It would be amazing if anyone could improve the documentatio

[2018-10-01 18:46] ilario commented on #367
So it would be something like an **automatic** configuration for ground routing?

[2018-10-01 18:51] ilario commented on #383
Check #127, I think it's related.

[2018-10-01 19:10] ilario commented on #334
Alternatively one can include the [lime-smart-wifi](https://github.com/libremesh/lime-packages/blob/master/packages/lime-smart-wifi/) package, when compiling with [chef](https://chef.libremesh.org/) or downloading its package and installing via opkg (but I cannot find it...), that should set the 5 GHz for mesh and the 2.4 GHz for AP. Is this correct @aparcar?

[2018-10-07 15:57] ilario opened #408 "Static proto: specify gateway"
When a static IPv4 address is set via specific interface configuration, there should be a way to set also the gateway, needed when configuring it for a WAN.

In /docs/lime-example one can read:

[code]
The gateway could be accepted as a second optional argument, like this:

[code]

[2018-10-07 16:11] ilario opened #409 "Static proto: improve setting IPv6 and implement setting gateway"
Static proto does support IPv6 but I didn't get how to do that...
In lime-example it says:
[code]
but setting IPv6 fails due to the colon (:) being interpreted as arguments separator instead of part of the IPv6, escaping them with backslash does not work neither.

[2018-10-07 16:14] nicopace commented on #408
This is implemented in here:
https://github.com/libremesh/lime-packages/blob/d2ba7a7b85ac6f4bb26741fd365016dccb39545d/packages/lime-system/files/usr/lib/lua/lime/proto/static.lua#L16

anyone who might want to implement what @ilario is proposing should start from there.

I am not sure if it is fine to define that there... @G10h4ck ?

[2018-10-07 16:40] nicopace commented on #367
that is what was talked... but no progress on this yet... any volunteer @ilario  ;)

[2018-10-07 16:42] nicopace commented on #383
@ilario how would you recommend to proceed?
@aparcar what would be the expected input?

[2018-10-07 16:43] nicopace commented on #409
@G10h4ck can you jump on this?

[2018-10-07 18:00] ilario commented on #383
I don't know if it's a possible solution, but I just tried to include both client interface (wlan0-sta) in bat0 on the client and AP interface (wlan0-ap) in bat0 on the access point and it worked: the nodes could see each other.
So, instead of including it in br-lan (not possible, see #127), I included it in bat0.

[2018-10-07 18:15] G10h4ck commented on #409
This comment on the code https://github.com/libremesh/lime-packages/blob/master/packages/lime-system/files/usr/lib/lua/lime/proto/static.lua#L21 suggests it is supported, I don't know if Pau tested it,  @ilario can you give more information about the error you get?
Anyway the code seems a bit strange to me and I would be surprised if it worked... moreover it miss how to set a gateway and other thi

[2018-10-07 19:43] nicopace commented on #409
What is strange about it?

how would you use it?

Can you give us an example?
Like, one per option:
* ipv4
* ipv6
* ipv4+ipv6

thanks!

[2018-10-07 22:37] ilario commented on #409
Exactly, see #408

The colon is interpreted as an arguments separator instead that being interpreted as part of an IPv6.
For example, if I set:
[code]
I obtain the following error:
[code]
but looking at the code (quite weird one, as @G10h4ck pointed out) I realized that something like this:
[code]
works. So it works just if all the 8 fields are specified, as they get recognized as 8 arguments and

[2018-10-08 20:22] aparcar commented on #409
What would be a better separator? I guess we could change it and add a fallback. All ipv6 examples should show the new separator

[2018-10-09 21:15] G10h4ck commented on #409
no separator at all, i remember to implement options for protocols with another syntax `option yourprotoname_youroptionname yourbelovedvalues` you can see it in action here https://github.com/libremesh/lime-packages/blob/master/packages/lime-docs/files/lime-example#L45

so I suggest to just take a look at how it is implemented for other protocols and do that for `proto static` too, and bleach that

[2018-10-16 10:16] #255 closed

[2018-10-22 19:39] ilario opened #415 "Wifi station mode in backbone via routing protocols instead than br-lan"
Currently the wifi client mode works just if used as WAN, so with a natting and a DHCP client for having the internet access.
To build a point to multipoint (as opposed to mesh) network can be a great option in many cases (for example when the topology is a tree or when the hardware does not support neither adhoc nor ieee80211s or if we want to use the better supported ap-sta mode rather than mesh

[2018-10-22 19:40] ilario commented on #383
Sorry, I misunderstood the problem, it is a mere error in the name of the interface, fixed the example in #414, I move the discussion on client + lan here: #415

[2018-10-22 19:46] ilario commented on #245
the mentioned line does not exist anymore, closing

[2018-10-22 19:46] #245 closed

[2018-10-22 21:10] #243 closed

[2018-10-22 21:16] nicopace commented on #415
Hi ilario,
I never came across this setup... can you share a more detailed example on how would you expect to use it, and if you have a rough idea on how to implement it?

[2018-10-22 21:20] nicopace commented on #383
can we close this issue then @ilario @aparcar ?

[2018-10-24 14:49] patogit commented on #257
@Nikerabbit I hope your travels went well. How can we move forward with this?

[2018-10-25 08:39] #383 closed

[2018-10-26 19:02] ilario commented on #409
@G10h4ck sounds like a good idea, I had a look at it, currently the values of the configurations you're referring to are obtained via `config.get("network", "option_name")` or `config.get("wifi", "option_name")` or `config.get("system", "option_name")` which looks into `lime` section in the /etc/config/lime* files.

Now we're referring to a config that would be in one of the possibly many `net` se

[2018-10-26 19:10] ilario commented on #415
I will copy here a comment I made originally elsewhere, tell me if it is clear to you:

Another reason for using AP-STA as a backbone could be a better support in the drivers for these two modes rather than for adhoc or for ieee802.11s, so for performances and stability reasons.

If the inclusion in bat0 is a solution (it worked for me, maybe there's a better one? @G10h4ck?) I would suggest to exp

[2018-10-26 22:16] ilario commented on #93
Coming back to the original scope of the issue: announce internet access without checking, some ways to do this:

- add a new entry in /etc/config/lime* system section for configuring the destination IPv4 and IPv6 for watchping, then this information gets written in /etc/config/system. For having always a positive it would be enough to set `127.0.0.1` as IPv4 target and `::1` for IPv6 target.
- ad

[2018-10-26 23:41] ilario commented on #93
For example, in `/etc/init.d/watchping` something like [the solution for AutoAP](https://github.com/libremesh/lime-packages/blob/master/packages/lime-ap-watchping/files/etc/init.d/auto-ap#L12) (I actually don't like it: it processes lime* config files out of lime-config) could be added, looking for a watchping_hosts in /etc/config/lime* in the network section (I suppose this will go to the network

[2018-10-27 18:51] G10h4ck commented on #409
There is no such thing as "subsection".
"network", "wifi" and "system" are section names, and the three of them have type "lime".
In case of specific sections "net", "wifi", "hwd_gr" and "bgp_peer" is the type of the section, while the name is arbitrary (it may be even an anonymous section (without name) but we suggest to specify a name when possible), and as a consequence you cannot rely on the s

[2018-10-29 15:47] patogit commented on #257
@Nikerabbit ping pong....

[2018-11-03 14:37] nicopace commented on #415
Awesome.
No particular interest of having this kind of networks, neither know anyone that uses them (other than traditional WISPs), but please, no problem on supporting it, sound like falls into something we could be interested in having as a collective.

[2018-11-03 21:14] G10h4ck commented on #415
wifi client can't be used in LAN because there is no standard way to bridge a wifi STA interface

[2018-11-04 00:32] ilario commented on #415
@G10h4ck read above

[2018-11-04 19:47] patogit commented on #257
following the format from this comment https://github.com/libremesh/lime-packages/issues/257#issuecomment-388729798

[code]

Any chance you can configure the repo and activate this space in translatewiki.net this week?

[2018-11-04 19:53] patogit commented on #360
This issue is now almost six months old, waiting until the Docker setup is functional.

[2018-11-07 12:49] ilario opened #423 "Proposal: Simple reporting command for helping debug"
Just an idea: it could be useful to have a command for helping bug reporting.
This would get debugging info from various sources and output it in an agglomerated form, optionally to a file.
It could be included in the `lime-debug` packages.

A list of data that could be included:

- /etc/config/lime (removing passwords)
- /etc/config/lime-defaults
- /etc/config/network
- /etc/config/wireless (remo

[2018-11-07 16:22] aparcar commented on #423
Not bad, should I implement that?

[2018-11-07 17:09] ilario commented on #423
Up to you :)
I would make the command in a way that without arguments prints everything to STDOUT (so that it can be piped to sprunge or copied and pasted) and if an argument is given everything is saved in a file with that name.

[2018-11-08 09:06] ilario commented on #423
This is an example of a situation where even with all the aforementioned data I cannot understand why neither BATMAN adv nor BMX6 can see the peers over established IEEE802.11s links:

https://lists.libremesh.org/pipermail/lime-users/2018-November/001331.html

Which piece of information are we missing?

[2018-11-08 16:43] ilario opened #424 "lime-librenet6 package missing title?"
A user reported that compilation with lime-sdk throws an error about lime-librenet6:
[code]
I suspect that removing the `/Default` string [here](https://github.com/libremesh/lime-packages/blob/17.06/packages/lime-librenet6/Makefile#L11) could fix this. But I did not test yet.

On a side note: why lime-librenet6 is present in 17.06 branch but not in master?

[2018-11-10 13:47] ilario commented on #415
@nicopace for example, in NinuxRoma they use [AP-sta with original firmware](http://wiki.ninux.org/HowToConfigurazioneAirOSStepByStep_06) for [maximizing link performances](https://diyisp.org/dokuwiki/lib/exe/fetch.php?media=technical:ninuxroma-routingarchitecture-documentversion1.pdf) and they manage the routing via [ground routing approach](https://docs.google.com/document/d/1tEp4rFNDis4RAwwo4ww

[2018-11-10 14:06] ilario commented on #360
@patogit you can try with QEMU+Virt-Manager, as described [here](https://github.com/libremesh/lime-sdk/blob/f49d4df32d9d63d196af61a5fbe3c1f15f7ad5d5/README.md#testing-on-qemu) (actually for me is not working and I don't know why... @svalo ideas?) that should also allow you to open the web interface.

[2018-11-10 18:34] ilario commented on #408
Closing this and continuing on #409: from the discussion there seems that the issue is basically the same.

[2018-11-10 18:34] #408 closed

[2018-11-10 18:42] ilario commented on #409
Would it be enough to implement the following options

- static_ipv4
- static_gateway_ipv4
- static_ipv6
- static_gateway_ipv6

or a way to set arbitrary options is needed?

For [static IPv4](https://openwrt.org/docs/guide-user/network/ipv4/start#protocol_static_ipv4) there's not much more needed (DNS? is going to be useful a setting in the specific interface configuration if resolvers are already

[2018-11-10 21:52] ilario commented on #415
@G10h4ck suggested to specify batadv as a protocol for this specific interface configuration, something like:

[code]

instead of what I though that had the last line with `list protocols 'lan'`.

The problem of this is that it does not setup the sta interface, so the resulting /etc/config/network is broken.
We need a proto/client.lua (copying the proto/ieee80211s and replacing all ieee80211s occu

[2018-11-12 19:38] ilario commented on #403
This issue is much related to #93. For avoiding such instabilities, a couple of hysteresis parameters should be added to Watchping.
Right now with just one failed ping or one successful ping, Watchping changes the BMX6 configuration. With hysteresis X failed pings would need to fail in order to instruct BMX6 to stop sharing and Y successful pings would be needed in order to re-activate it.

[2018-11-14 23:45] gmarcos87 commented on #403
Hello @patogit, we came across this situation testing "pirania" (captive portal that ate a pitbull in the Amazon). The solution proposed by both android and ios is very bad. Even worse, Wathsapp detected the captive portal and insisted that I forget the network and delete it from my list of accepted networks. It is a very painful situation and we can do little with the ridiculous decisions of thes

[2018-11-18 17:53] ilario opened #429 "lime-proto-wan usage with lime-proto-static is currently hindered by hardcoded dhcp configuration"
When setting an interface as WAN via lime-proto-wan, a [DHCP client is activated by default](https://github.com/libremesh/lime-packages/blob/ee71e4e946a562e160f878ed0bb692584230c59a/packages/lime-proto-wan/src/wan.lua#L17).
This makes sense as it's the most common scenario.
Anyway it would be straightforward (using #420 in a similar way to #427) to implement an option to disable it and leave the I

[2018-11-20 00:11] Juul opened #430 "In lime-defaults `ap_ssid` required even when `list_modes 'ap'` is removed"
In `config lime 'wifi'` even if we remove `list modes 'ap'` it still seems to still require `ap_ssid`.

Error:

[code]

[Example of non-working config file](https://github.com/libremesh/network-profiles/blob/master/peoplesopen.net/common/etc/config/lime-defaults#L25)

[2018-11-20 00:11] Juul commented on #430
Tagging @nicopace

[2018-11-26 21:26] tomjones1977 opened #431 "Cannot access nodes via primary IP"
Hostname | sdh-rocket-m5
Model | Ubiquiti Rocket M XW
Firmware Version | LiMe 17.06 DaybootRely (17.06 rev. a1c5c4c 20180802_1339) / LuCI openwrt-18.06 branch (git-18.320.63580-3787301)
Kernel Version | 4.9.120

Occasionally I cannot access the nodes via their advertised IPv6 addresses on the BMX...Nodes list.  Accessing the web interface by host name, or 2a00 based IPv6 or even IPv4 works fine, b

[2018-11-26 21:30] ilario commented on #431
Related to libremesh/lime-sdk#93

[2018-11-28 23:06] nicopace commented on #430
I would propose to change the name of ap_ssid to network_name...
That makes sense cause you also need that for libremap, and we could use it for ssid, hashes, etc... and we are not requiring a parameter that should be optional

[2018-11-28 23:07] nicopace opened #432 "Add custom attended-updates server config parameter on lime-config"
@aparcar
If we have a local updates server, or a custom one for our community, we should be able to use that instead of the central one.

[2018-11-28 23:09] nicopace opened #433 "lime-map-agent: Remove luci dependency"
This package shouldn't depend on luci:
https://github.com/libremesh/lime-packages/blob/d2ba7a7b85ac6f4bb26741fd365016dccb39545d/packages/lime-map-agent/Makefile#L24

[2018-11-29 18:52] patogit commented on #415
I think this functionality is very important. Being able to connect to the internet gateway via WiFi instead of cable is very useful and can make network deployment less expensive, faster, and more flexible. See this thread for an example https://lists.libremesh.org/pipermail/lime-users/2018-November/001339.html

[2018-12-03 17:43] ilario commented on #415
@patogit I think you refer to something that is already implemented in mode client [here](https://github.com/libremesh/lime-packages/blob/master/packages/lime-system/files/usr/lib/lua/lime/mode/client.lua) and documented [in lime-example](https://github.com/libremesh/lime-packages/blob/bd968220bff199245f227a8b7e3aa017fb307df7/packages/lime-docs/files/lime-example#L105-L119). See [my answer to the

[2018-12-08 20:06] ilario commented on #256
Matrix channel is not going to be included, see #412
Chef is being included in #437

[2018-12-08 20:06] #256 closed

[2018-12-08 20:16] ilario commented on #409
Can anyone review #427?
It has some limitations (e.g. no multiple IPv4 or IPv6 can be set on one interface, but quite nobody uses this anyway) but should solve.

[2018-12-08 20:18] ilario commented on #403
@gmarcos87 so you're saying that we should not do this?
I think that adding histeresis (explained above) would solve without causing the "forget the network" problem.

[2018-12-08 20:31] ilario commented on #99
@aparcar I saw [this Tinc package](https://github.com/libremesh/lime-packages/tree/master/packages/tinc)... should we consider this fixed?

[2018-12-08 20:40] ilario commented on #367
@nicopace reading again the original description of the issue, sounds more like #429, right?
Autoconfiguration of groundrouting sounds like something too epic to do (we usually refer with "groundrouting" to a very specific thing).

[2018-12-08 20:42] ilario commented on #366
Do you mean, creating a new network profile in https://github.com/libremesh/network-profiles without even having a Github account? Sounds difficult.

[2018-12-08 20:55] ilario commented on #346
Updates?

[2018-12-08 20:57] #334 closed

[2018-12-08 21:04] ilario commented on #330
Should be fixed in  #436

[2018-12-08 21:07] ilario commented on #327
@nicopace @gmarcos87 can you update the list with what's ready and what is not wanted?

[2018-12-08 21:10] ilario commented on #325
@aparcar updates? Is this planned for inclusion in 18.06 release?

[2018-12-08 21:15] ilario commented on #312
As implemented in #425, now lime-config throws a warning.
Is it actually needed to have it in the web interface? @gmarcos87 @nicopace  (I'm asking because I'm not familiar with it)

[2018-12-08 21:53] ilario commented on #237
So what's the way to detect a reboot loop? Maybe we could add a check before the sleep step: checking the existence of a file, if the file is already present means that we're in a reboot loop, then create the file and sync.

[2018-12-08 21:56] ilario commented on #227
Any update on this? @aparcar do you have idea of the status of this?

[2018-12-08 21:58] ilario commented on #195
@nicopace I'm not knowledgeable with the web interface, maybe @gmarcos87?

[2018-12-08 22:02] ilario commented on #193
related: #303 #390

[2018-12-08 22:13] ilario commented on #189
I think it was fixed at some point on Batman-adv side:
https://lore.kernel.org/lkml/1265569063-3973-1-git-send-email-chris.nicholson@cnick.org.uk/

Now the messages that I see are:

The newly added mac address already exists on: wlan0-mesh
batman_adv: It is strongly recommended to keep mac addresses unique to avoid problems!

Maybe we could even remove the dummy0 workaround completely as it has a

[2018-12-08 22:14] #189 closed

[2018-12-08 22:45] ilario commented on #172
@FreifunkUFO I supposed that the node connected via WAN port on another node on LAN port would get an IP via DHCP (if both of the routers are LibreMesh, that's a broken broken broken setup), if this does not happen, I don't know why as I don't think there's any mechanism for discovering which kind of router is on the other side of the cable (see #367). There is some discussion about a mitigation f

[2018-12-08 22:48] ilario commented on #162
I perceive a non-interest on this topic, that's ok, closing.

[2018-12-08 22:48] #162 closed

[2018-12-08 22:49] ilario commented on #158
@nicopace updates? I feel that we cannot easily fix this in LuCI, no?

[2018-12-08 22:52] ilario commented on #134
Updates on this "reminder"? Can we close?

[2018-12-08 22:54] ilario commented on #132
related: #193 #303 #390

[2018-12-08 22:57] ilario commented on #128
I think the webui development in not anymore on this repo, right? @gmarcos87

[2018-12-08 22:58] #124 closed

[2018-12-08 23:02] ilario commented on #108
No comments in the last year after asking for closing, I suppose it has been fixed or is a very low priority issue? @p4u @nicoechaniz @G10h4ck
Closing.

[2018-12-08 23:02] #108 closed

[2018-12-08 23:06] ilario commented on #101
Maybe this is already implemented in lime-app? @gmarcos87

[2018-12-08 23:07] ilario commented on #100
This is very epic stuff, can't we consider this problem addressed by network-profiles + Chef?

[2018-12-08 23:10] ilario commented on #403
I just realized this is a duplicate of #93

[2018-12-08 23:12] ilario commented on #93
On #403 @gmarcos87 pointed out that announcing a non-working internet connection is a very bad idea as Android's apps does not like it at all.

[2018-12-08 23:15] ilario commented on #92
I think this is being implemented in pitbull, right? @nicopace
Is it complete? Is it thought for being included by default in full LibreMesh images?

[2018-12-08 23:17] ilario commented on #91
web ui stuff... tagging @gmarcos87

[2018-12-08 23:19] ilario commented on #90
Merged with the more general #327, closing.

[2018-12-08 23:19] #90 closed

[2018-12-09 11:03] nordurljosahvida commented on #172
@ilario ok thank you, i'll open a separate issue for this as soon as I can gather enough data to provide.

Thanks!

[2018-12-09 12:01] aparcar commented on #100
I'm thinking of creating an interface to create network profiles online. Maybe integrated into chef

[2018-12-09 15:48] aparcar commented on #109
@dangowrt you know something about that?

[2018-12-09 15:52] aparcar commented on #268
@p4u please see the package wpad-mesh-wolfssl, wolfssl should already be much smaller then the openssl libary. Can we close this?

[2018-12-09 15:53] aparcar commented on #375
@dangowrt can you have a look at this and the ubus request posted a long time ago? https://github.com/openwrt/odhcpd/issues/113

[2018-12-14 12:46] FreifunkUFO commented on #172
@ilario but, on older libremesh firmware there was such a mechanism for that discovery.

yes, i am talking about one cable between two libremesh-nodes (WAN-Port on Node1 to LAN-Port on Node2). For us, it is still a standard-requirement for mesh-networks, for instance when using two nanostation-m at one location (so Node1 will power Node2, throught the Poe-power-passthrough-option).
yes, it will le

[2018-12-16 13:55] dangowrt opened #438 "lime-docs doesn't build"
lime-docs fails to build due to wrong source URL (`svn` proto on a github subdirectory -- that cannot ever have worked)

[2018-12-17 09:56] ilario commented on #438
It used to work and Github [officially supports Subversion](https://help.github.com/articles/support-for-subversion-clients/). Now seems that with Subversion 1.11 client there's a new and more strict check for server answer; and the one implemented by [Github does not pass the check](https://lists.apache.org/thread.html/90c028421ac86f787c2101ab61a70ec5fa0a6f4d617a8b87be802e5c@%3Cusers.subversion.a

[2018-12-18 09:51] p4u commented on #438
Not the most elegant solution but works.

Time to time we will have to "update" the onlydocs branch of git. Maybe would it be possible to create a github hook to do it automatically? Don't know... but for the moment let just fix this blocker issue.

[2018-12-18 11:45] ilario commented on #438
Github fixed this issue on their side, updating their Subversion implementation, so this issue in fixed (in my opinion).

You can verify this with:

[code]

[2018-12-18 11:45] #438 closed

[2018-12-18 14:50] p4u commented on #438
I don't see this current solution better than the new proposal. But anyway, hope svn is not gonna break again.

[2018-12-18 15:04] ilario commented on #438
Current solution ([here](https://github.com/libremesh/lime-packages/blob/faed673052653800d3c10be2f62b416bd54f67d4/packages/lime-docs/Makefile#L16-L18)):

. relies on Github subversion support (bad)
. downloads just the needed directory (slightly good)
. always downloads the updated content of lime-web/docs (good)

Proposed solution (#439):

. relies on Github git support (good)
. downloads all lim

[2018-12-18 15:13] p4u commented on #438
that's not right, it does not download the whole web

that's right but it also give us the option to specify when we want to "merge" the web documentation to the lime-docs packages.

Anyway, I just want to not see this package breaking libremesh in the future, so any solution is fine.

[2018-12-19 19:10] #409 closed

[2018-12-20 20:20] patogit commented on #257
Update on this thread:
The booklet documentation format changed (from PO to JSON), but the old format got activated on translatewiki.net. So we're working on converting the translations already done into the new format. Part of the process I've completed by making a macro in jEdit (https://github.com/libremesh/lime-docs/issues/29).

Now we want to figure out how to make these converted JSON files

[2018-12-20 20:53] patogit commented on #257
@Nikerabbit for untranslated items, for example in line 24 here:
https://github.com/patogit/lime-docs/blob/testing-JSON/Booklet-01-Networks/json/01.fr.json#L24
Would it be okay to delete line 24 completely, or do you prefer that we leave it there with the empty translation?

[2019-01-07 10:02] Nikerabbit commented on #257
Line 24 is now translated, but in general untranslated lines should not be present in the json. Empty values are treated as empty translations, not as a missing translation.

[2019-01-07 15:34] ilario opened #443 "Improve and unify GroundRouting documentation"
Users are often confused about what ground routing is and what can be used for (e.g. #367).

We need a good and unified documentation about it.

We can take material from:

* https://github.com/libremesh/lime-packages/blob/master/packages/lime-docs/files/lime-example#L136
* https://github.com/libremesh/lime-packages/blob/master/packages/lime-hwd-ground-routing/Makefile#L27
* https://blog.freifunk.

[2019-01-09 10:39] aparcar opened #445 "improve CI by auto creating subfolders"
currently branch names with a slash fail, e.g. feature/bmx7-speedtest. therefore we should use a relative path option as explained [here](https://stackoverflow.com/questions/1636889/rsync-how-can-i-configure-it-to-create-target-directory-on-server)

[2019-01-14 09:14] ilario commented on #313
Solved in #449

[2019-01-14 09:14] #313 closed

[2019-01-14 13:37] #330 closed

[2019-01-14 13:54] aparcar commented on #352
@p4u @ilario looks to me as if we can remove lime-apply now

[2019-01-14 14:13] ilario commented on #352
I never used [lime-apply](https://github.com/libremesh/lime-packages/blob/349e1fe132d90adc567a0b00416381bfb4c532b5/packages/lime-system/files/usr/bin/lime-apply)...
Can we confirm that all its features are now achieved in another way or completely unneeded?

- [ ] Apply hostname (wut is dis?)
- [ ] Reload ALFRED
- [ ] BMX6 stuff - Workaround until "bmx6 configReload" updates hostname
- [ ] BMX7 st

[2019-01-14 14:44] aparcar commented on #325
@ilario actually @gmarcos87 must do the magic, I'm not working on lime-app

[2019-01-14 21:14] p4u commented on #352
Why would u remove it? As there is a lime-config I think it makes sense to have a lime-apply. I'm using it (via terminal) and webui uses it too.

In addition there are some extra tasks which are not covered by a reload_config or network reliad commans (such as the hostname).

El 14 de gener de 2019 16:08:47 CET, Paul Spooren <notifications@github.com> ha escrit:

--
Enviat des del meu dispositiu A

[2019-01-23 22:36] aparcar commented on #432
sure, that should be fairly easy. just overwrite the url in the `/etc/config/attendedsysupgrade` file.

[2019-01-23 22:48] aparcar commented on #423
We could setup something like debug.libremesh.org using https://github.com/solusipse/fiche
The rest is quite easy, I'll setup a package within the next days

[2019-01-23 23:38] aparcar commented on #423
https://github.com/libremesh/lime-packages/pull/457/files

[2019-01-26 11:46] ilario opened #458 "Sprunge package: rename and use ix.io"
sprunge.us is experiencing some downtime
From sprunge.us maintainer:

we should rename the sprunge command to something like `ix-paste` (by similarity to `lime-paste` in #457) and adapt it to use http://ix.io
The submission method is similar, the only thing that has to be investigated is how to obtain the URL output in the terminal (no idea why it doesn't work as with sprunge.us).

[2019-01-26 14:04] aparcar commented on #458
Shouldn't we remove this package in favor of lime-paste?

[2019-01-26 14:16] ilario commented on #458
Yes, basically lime-paste (#457) replaces this package.
So, for the LibreMesh community this package maybe is superfluous, it can be removed from `lime-debug` dependencies.
But it could be useful for the OpenWrt community as an ix.io client or as an alternative to lime-paste in case of problems with paste.libremesh.org domain.
I don't know if something that can be done with sprunge package cannot

[2019-01-26 22:38] ilario commented on #458
I just managed to understand why the sprunge script was not easy to convert to ix: the ix.io service, for some reason, requires the lines to be terminated in \r\n and not just \n as it was enough for sprunge.
Let me know if this package still fits in lime-packages (in this case I will add the ix client) or if I should move it in my user's repositories.

[2019-01-27 11:59] ilario commented on #294
@aparcar sorry for the ignorant question, would #379 completely solve this or just partially?

[2019-01-27 12:15] ilario commented on #415
#426 has been merged and enables the usage of BMX6 on the AP-client links.
Until when some non-BMX6 networks (e.g. NinuxRoma with only OLSR on WDS AP-client links or eigenNet with only BATMANadv on adhoc) ask for this feature to be expanded to their scenario, I would consider this issue closed :)

[2019-01-27 17:39] aparcar commented on #458
I'd be in favor to remove it, but your choice

[2019-02-03 15:06] aparcar opened #464 "remove libremap legacy"
The libremesh/libremap repo states that it's outdated. However I can't find a compiled libremap packages anywhere.

Withouth, the lime-full packages is no longer installable

[code]

[2019-02-04 18:12] ilario commented on #464
@nicoechaniz sez: "contesté por algún medio... se puede eliminar."

So yes, we can delete the blocker code.

[2019-02-04 18:38] aparcar commented on #464
https://github.com/libremesh/lime-packages/pull/465

[2019-02-08 13:22] dangowrt commented on #345
Just to add my two cents to this:
 * lease sharing is only required for layer-2 mesh, so using bmx6/7-sms for this doesn't make sense to me, because for layer-2 mesh we use batman-adv (and potentially could use 802.11s with `mesh_fwding=1`), so alfred or something which works on top of either Ethernet layer-2 or IPv6 link-local multicast (like alfred) is the right thing here imho.
 * replacing our

[2019-02-08 16:26] p4u commented on #345
Agree with @dangowrt just add that alfred is not a good solution for DNS since it only works on the collision domain network. For DNS bmx-sms seems a much better option (actually is already implemented on bmx7-mdns package).

As an extra bonus flame topic, let me add that IMO layer2+layer3 libremesh firmware should be burned in hell. Just layer3 or just layer2 is simpler, works better and pobably

[2019-02-08 16:40] ilario opened #468 "Default LibreMesh routing: layer2 + layer3 or what?"
From @p4u's [comment](https://github.com/libremesh/lime-packages/issues/345#issuecomment-461860047) on #345:

In case a better default is decided, this should be reflected by [lime-basic dependencies](https://github.com/libremesh/lime-packages/blob/master/packages/lime-basic/Makefile#L27).

[2019-02-08 16:41] ilario commented on #345
Let's not flame here, I created a new issue for this: #468

[2019-02-08 16:50] pedro-nonfree commented on #468
we are very happy just using layer 3. And in case we would like to experiment a layer 2 subnet deployment we expect to have a border node that translates between layer 3 (bmx) to layer 2 (batman-adv) just as we do with BGP (our common language routing protocol in guifi; and internet) to bmx6.

This permanent situation of two protocols running in all nodes of a network remembers me to that situatio

[2019-02-08 17:58] dangowrt commented on #468
So this is one nice network setup you are describing there, similar to what we have here (and using libremesh develop branch on top of OpenWrt snapshots for that). And it may make sense in a particular community. I've already seen so much efforts to basically make libremesh the replacement for qMp -- sacrificing modularity and flexibility for all other **existing** communities on the way which may

[2019-02-08 18:24] p4u commented on #468
Well, I was not aiming to open this discussion neither changing anything relevant on the firmware. Just I wanted to share that my life is much happier since I only use bmx7 in my networks :)

El 8 de febrer de 2019 17:40:44 CET, Ilario Gelmetti <notifications@github.com> ha escrit:

--
Enviat des del meu dispositiu Android amb el K-9 Mail. Disculpeu la brevetat.

[2019-02-09 11:40] ilario commented on #279
Do you agree with me? Is it ok to close this? @nicopace @nicoechaniz

[2019-02-16 00:53] patogit commented on #389
looks like @gmarcos87 has made some progress on this in https://github.com/gmarcos87/lime-virtualbox

[2019-02-16 01:27] aparcar commented on #389
@patogit 2 years old?

[2019-02-16 02:12] patogit commented on #389
Hmmmmm. My mistake. @gmarcos87 posted about it in a recent thread and I mistook it for something new, without looking at the last commit date.

[2019-02-16 07:59] aparcar commented on #389
maybe we can create an image with the ci.

[2019-02-16 14:48] G10h4ck commented on #332
If i understand correctly this happens only if the wan of a libremesh router is connected to the lan of another libremesh router, this is something one should definitely not do.

[2019-02-16 14:48] #332 closed

[2019-02-16 20:54] spiccinini commented on #464
Already merged

[2019-02-16 20:54] #464 closed

[2019-02-17 13:53] aparcar opened #473 "fft-eval: package not arch independent"
Hi @spiccinini , the fft-eval package isn't arch independent while our CI only compiles for mips. Usually this isn't a problem as we use Lua code, but compiling for every arch a C tool takes to much time. Could you consider creating a PR to add fft-eval to the official OpenWrt repo? Their build bots take care of the rest.

[2019-02-18 04:56] spiccinini commented on #473
Hi! Another option that I think I prefer is to port the code to Lua, as we only use one function. I really don't know if fft-eval is common enough to add to the official OpenWrt repo, do you know?

[2019-02-18 10:01] aparcar commented on #473
I'd recommend to push it to the official builds, that's whats supposed to happen with all LibreMesh related packages in some distant future...

[2019-02-20 12:25] gmarcos87 commented on #473
I never did the process of adding a package to openwrt repos. Do you want to try it @aparcar ?

[2019-02-20 12:29] gmarcos87 commented on #322
Ready in https://github.com/libremesh/lime-packages/pull/470

[2019-02-20 12:29] #322 closed

[2019-02-20 15:16] aparcar commented on #473
https://github.com/openwrt/packages/pull/8265

[2019-02-21 09:43] G10h4ck commented on #135
If I remember well @aparcar did this for the most convenient parts, like taking lan/wan interface name

[2019-02-21 09:43] #135 closed

[2019-02-21 09:47] G10h4ck opened #475 "We should depend on luci-lib-jsonc instead of luci-lib-json"
Seems luci-lib-jsonc is more standard compliant regarding JSON format, and other OpenWrt components already depends on it as you can see from the following paste

[code]

[2019-02-21 09:55] ilario commented on #475
https://github.com/libremesh/lime-packages/search?q=luci-lib-json

[2019-02-21 10:32] aparcar commented on #475
sound good, you fancy a PR?

[2019-02-23 19:23] Benik3 commented on #322
Great!
But I tried to install it on WR841 v9 on OpenWRT 18.06 (package from daily build and even my own build on OWRT sources) and it doesn't see any interfaces...
![obrazek](https://user-images.githubusercontent.com/4532647/53290706-36817d00-37a8-11e9-83e1-a8e671140d36.png)

I wasn't able to test the luci-app-openairview because is has too much of dependencies and takes too much of space :/

[2019-02-23 20:36] gmarcos87 commented on #322
Try using wlan0 as device
lime-openairview gets ifaces names from something like this **uci show wireless.@wifi-iface[0]=wifi-iface**

[2019-02-23 21:14] Benik3 commented on #322
I tried, but it doesn't work at all :/
![obrazek](https://user-images.githubusercontent.com/4532647/53291738-6e90bc00-37b8-11e9-83ed-333fa807c08f.png)

[2019-02-24 02:21] gmarcos87 commented on #322
You need to compile openwrt whit this options:

Otherwise fft-eval doesn't work

[2019-02-24 22:15] Benik3 commented on #322
Thanks, I didn't know that!
I compiled my own 18.06 and there is spectral scan working OK :)
So only thing which doesn't work for me is the mentioned get_stations. I tested other commands with success!

[2019-02-25 12:27] aparcar commented on #473
Package was accepted upstream

[2019-03-04 00:14] kleper opened #483 "DHCP Server on Nodes"
Hello,
I am trying to deactivate the DHCP server of each of the nodes that I have with LibreMESH, I have tried modifying the configuration files of lime-default but something has not gone well and I had to reinstall the firmware.

Thank you.

[2019-03-04 13:19] aparcar commented on #483
Done via this new GitHub feature

[2019-03-04 14:35] ilario commented on #483
Wowow @aparcar is [the new grua](https://www.tebeosfera.com/publicaciones/no_aparcar_llamo_grua_1991_bou.html)!

[2019-03-06 18:02] gmarcos87 commented on #32
None of the stakeholders took the initiative. I close this until there is a real demand for this feature. The issue was opened more than three years ago.

[2019-03-06 18:02] #32 closed

[2019-03-06 18:06] gmarcos87 commented on #66
@tekoholic were you able to run any tests with conclusive results?

[2019-03-06 18:19] gmarcos87 commented on #75
#135 was closed a few days ago, does that mean this can also be closed or is it still a problem?

[2019-03-06 18:21] gmarcos87 commented on #91
Ok, related pull-request open in #477

[2019-03-06 18:45] gmarcos87 commented on #93
The idea is then to add a configuration option that is: This node is a gateway, announce it to the mesh. I'm thinking it can be problematic, someone can break connectivity just by announcing false connections.

[2019-03-14 19:20] #104 closed

[2019-03-14 19:20] #169 closed

[2019-03-15 08:30] ilario commented on #169
@gmarcos87 is this issue solved? [ebtables looks still used in lime-packages](https://github.com/libremesh/lime-packages/search?q=ebtables).

[2019-03-15 08:34] ilario commented on #104
@gmarcos87 has this issue been solved? It looks like the [problem is still there](https://github.com/libremesh/lime-packages/blob/master/packages/lime-proto-anygw/Makefile#L24)

[2019-03-15 08:39] ilario commented on #107
@gmarcos87 I suppose this has been closed as alfred is going to be replaced by shared-state? Can you confirm? Anyway [alfred is still dependency of lime-basic via dnsmasq-lease-share and dnsmasq-distributed-hosts](https://github.com/libremesh/lime-packages/blob/master/packages/lime-basic/Makefile#L28-L29).

[2019-03-15 21:40] gmarcos87 commented on #104
I think it's not an issue to solve, it's a condition not to have dnsmasq installed for libremesh to work properly. That in two years has not been resolved (especially user feedback) or generated a pull-request with an alternative is an example of this. In any case we could place particular emphasis on the documentation (in lime-web) on this issue.

[2019-03-15 21:45] gmarcos87 commented on #169
No one took this torch for two years, I think this enhancement is not valued as necessary. If someone wants to reopen this feature they can do it via a pull-request. Having it open doesn't contribute to its development by itself. No one even performed metrics to analyze the cost-benefit of the effort required.

[2019-03-15 21:48] gmarcos87 commented on #107
I'm sorry I thought the changes in #476 modified the dependencies. We can leave it open until that happens, which I think is a matter of a couple of days.

[2019-03-17 04:36] #279 closed

[2019-03-25 11:45] nordurljosahvida commented on #276
I'm running a MIR3G with firmware built with lime-sdk from the develop branch [latest commit: https://github.com/libremesh/lime-sdk/commit/943c4ad3d4f3cb8982c530e5d00ff7fa08cbf1d5] and I think this issue is still happening.

All of a sudden at least several times a day all wireless clients stop having internet connection and can't even ping the router itself, but stay connected to the wifi network

[2019-03-25 15:15] natzlob opened #492 "shared-state package requires documentation"
Hi

I would like to use the shared-state package for sending channel (and other parameter) change information around a bmx6 mesh but I am not clear how to install or use it. Do I need to install all the packages that contain the words shared-state, or just shared-state-bat_host, and then how do I create my own json to send around?

Please create a README to explain how to use the package.

Thanks

[2019-03-25 15:50] nicopace commented on #492
it seems there is a commandline tool called shared-state
this one: https://github.com/libremesh/lime-packages/blob/master/packages/shared-state/files/usr/bin/shared-state
ou call it with the data you want to share with others:
https://github.com/libremesh/lime-packages/blob/master/packages/shared-state-bat_hosts/files/usr/bin/shared-state-publish_bat_hosts#L38
`io.popen("shared-state insert bat-ho

[2019-03-25 15:56] ilario commented on #492
@nicopace I never tried shared-state, the only documentation line I found was [this one](https://github.com/libremesh/lime-packages/blob/master/packages/shared-state/Makefile#L27), thanks.

[2019-03-25 16:30] G10h4ck commented on #492
shared-state distribute data in same broadcast domain. it is not suitable for pure bmx6 mesh, I would go for bmx6-sms in that case

[2019-03-29 13:48] FreifunkUFO commented on #171
ping

[2019-04-10 16:57] PolynomialDivision opened #497 "lime-proto-anygw missing"
The LiMe → lime-proto-anygw is missing? I followed the [compile](https://libremesh.org/development.html) instructions.

[2019-04-10 17:05] aparcar commented on #497
Did you deselect `dnsmasq`? As far as I remember it the most common problem if *stuff is missing*

[2019-04-10 17:11] PolynomialDivision commented on #497
Yep. Maybe something went wrong while compiling. :/ I will retry.

    ./scripts/feeds install lime-proto-anygw
    WARNING: Makefile 'package/feeds/libremesh/altermap-agent/Makefile' has a dependency on 'luci-lib-core', which does not exist
    WARNING: Makefile 'package/feeds/libremesh/lime-basic-uing/Makefile' has a dependency on 'lime-webui-ng', which does not exist

[2019-04-17 08:15] ilario commented on #144
Is this still present?
@dangowrt @G10h4ck @p4u @FreifunkUFO @nicoechaniz @nicopace

[2019-04-19 19:33] tomjones1977 opened #501 "Chef not compiling correct firmware"
Creating what should be a fairly straightforward build with Chef seems to fail.

Settings:
Distribution - Libremesh
Version - master
Device model - Ubiquiti Nano M XW (ar71xx/generic)
Flavour - LibreMesh with BMX7
Network Profile - libremesh-default

Upgrading the NanoStation loses the anygw functionality, the LiMe web interface, and I can no longer include wpad-mesh as it isn't found, meaning my

[2019-04-22 13:58] gmarcos87 commented on #101
done in FBW #506

[2019-04-22 13:58] #101 closed

[2019-04-24 10:01] G10h4ck commented on #253
AFAIR this is already enabled by default

[2019-04-24 10:12] aparcar commented on #253
cool. could you verify this via docs? then we could close this

[2019-04-24 11:04] ilario commented on #253
@nordurljosahvida can you have a look?

[2019-04-24 11:11] nordurljosahvida commented on #253
@G10h4ck what do you mean enabled by default? If nothing has changed you need to specify details of every AP in the network, and therefore we would need a provisioning system. How could it be already working?

[2019-04-24 11:11] nordurljosahvida commented on #253
@ilario thanks for following through with this

[2019-04-24 11:49] spiccinini commented on #253
To add more light of the 802.11k/v/r extensions here is useful info https://community.ubnt.com/t5/UniFi-Wireless/Wireless-LAN-Roaming-FAQ/m-p/1825118.
Also here is a simple explanation of the implementation of 802.11v/k/r for iOS devices (so from a client perspective) https://support.apple.com/en-us/HT202628 and the iOS devices support.
And here a Cisco documentation on the subject https://www.cis

[2019-04-24 12:27] spiccinini commented on #144
As far as I know this issue is still present at least in 18.06.1 and LiMe does not provides a working workarround as cotonete is reported to be outdated/not working.

[2019-04-24 12:49] nicopace commented on #144
cotonete definitely needs some help.
the strategy for detecting the issue was accurate and fast, but no additional coding was done to take actions, nor to further debug a bug that was detected by some that made cotonete eat the cpu.

[2019-04-24 21:31] aparcar commented on #144
@dangowrt

[2019-04-25 09:02] nordurljosahvida commented on #253
@spiccinini thanks for the info. @G10h4ck as far as I can tell what I wrote in the ML back in the day is still valid: https://lists.libremesh.org/pipermail/lime-users/2017-July/000781.html

[2019-04-25 13:34] altergui commented on #253
personally, i'm disinclined to put time into features that i don't understand the final purpose. probably happens to other devs as well.
i do understand that 802.11r only matters when you're using WPA2-Enterprise i.e. a RADIUS auth server.

nick, why are you using WPA2-Enterprise?

On 25 April 2019 06:02:44 GMT-03:00, Nicolas North <notifications@github.com> wrote:

[2019-04-26 14:40] nordurljosahvida commented on #253
@altergui it's been some time, but i don't remember the WPA2-E restriction. are you sure?

[2019-04-27 16:30] #197 closed

[2019-04-27 16:30] #244 closed

[2019-04-28 12:43] ilario commented on #244
Even if stale bot closed this, I still think users would love to have such feature. Still I recognize that, as @G10h4ck wrote, this is verry complex to implement.

[2019-04-28 12:44] ilario commented on #197
I suppose this has been implemented in lime-app? @gmarcos87

[2019-04-28 13:24] ilario opened #508 "lime-example: country code also in specific wifi configuration"
Regulatory domain (country code) [[1](https://openwrt.org/docs/guide-user/network/wifi/wifi_countrycode),[2](https://openwrt.org/docs/guide-user/network/wifi/basic#common_options1)] set in general `/etc/config/lime`'s `wifi` section is not applied when wifi specific configuration is used.
The example line `option country 'ES'` in [lime-example](https://github.com/libremesh/lime-packages/blob/maste

[2019-05-15 19:17] dangowrt opened #512 "File collisions and dependency hell"
cooker failes complaining about both `dnsmasq-lease-share` and `shared-state-dnsmasq_leases` trying to install the same files:
[code]

It wasn't that trivial for me to solve due to hard-dependencies introduced by the `lime-full` meta-package (which imho should be flattened-away and just use flavors instead, providing soft-dependencies instead).

[2019-05-15 21:36] ilario commented on #512
Totally agree on that!!!

Just I have the doubt on what happens if we decide to support again the buildroot method (with `make menuconfig`) rather than lime-sdk: could we use flavors in that or we would need the meta-packages?

[2019-05-15 21:48] dangowrt commented on #512
@ilario we could easily provide a script to modify the buildroot's `.config` and select the packages of a flavor. The selection can then still be altered by the user using `menuconfig`.

[2019-05-16 08:46] ilario commented on #512
Like that!
In case people using buildroot wanted to keep the meta-packages, we could still remove them from the flavors (replacing lime-full with the complete list of the packages it should pull).

[2019-05-16 21:29] G10h4ck commented on #512
I use the build-root but never liked those glue-packages, I am all to have them removed, the laziness to not read a list of packages in the documentation and select them depending on one needs, is not a good reason to keep that maintaining hell cruft around IMHO

[2019-05-16 21:31] G10h4ck commented on #512
also `dnsmasq-lease-share` and `shared-state-dnsmasq_leases` should never be installed together, IMHO the latter is the one that works out of the two

[2019-05-19 12:19] gmarcos87 commented on #281
Using 18.06, even without smonit, I did not find this situation again. Maybe I didn't pay special attention to it, but it doesn't seem to be failing in the latest versions.

[2019-05-26 15:41] ilario commented on #512
So, `lime-full` is gone.
Do we want to eliminate also `lime-basic`?
For each package we eliminate, we will have to remember to fix what was referencing to it.

[2019-05-26 16:00] G10h4ck commented on #512
+1

[2019-05-29 03:44] nicopace commented on #501
@aparcar, I think the experience of the users started breaking when the default config in chef is bmx7only images, as most of the libremesh config asumes batman is present.
could you put batman+bmx6 as a default till someone puts energy in some other experience?
we are working on babel integration, but it is still a WIP.
the other option is to stop promoting chef and just give a default image (now

[2019-05-29 03:47] nicopace commented on #171
hehe... pinging doesn't make any progress on the issue... the stalebot has a bug :)
many of the devs (me included) are putting the ui efforts in lime-app, and phasing out the use of luci.
PR welcome, but no maintenance will happen, at least it is extremely low priority

[2019-05-29 03:50] nicopace commented on #492
@G10h4ck i thought it was using link local, not broadcast, but now I see in the code here https://github.com/libremesh/lime-packages/blob/master/packages/shared-state/files/usr/bin/shared-state-get_candidates_neigh#L42 that you are filtering the neighbours of only the same broadcast domain.
It could be possible that if it detects that it is not in a batman setup, for it to check neighbours over bm

[2019-05-29 03:52] nicopace commented on #107
we can close now, as that has been fixed.

[2019-05-29 03:52] #107 closed

[2019-05-29 03:53] nicopace commented on #91
This issue is outdated as we are not using luci anymore and this was thought from a luci perspective.

[2019-05-29 03:53] #91 closed

[2019-05-29 03:55] nicopace commented on #389
I was able to make it work with qemu and networking:

[code]

hope it helps

[2019-05-29 03:57] nicopace commented on #345
@G10h4ck has implemented shared-state, that removes dependency with alfred so this issue is no longer relevant. closing.

[2019-05-29 03:57] #345 closed

[2019-06-04 20:42] nicopace opened #519 "Piranha is blocking thisnode.info requests"
**What I expect to see**: in a newly flashed device with piranha package installed, if I go to thisnode.info I expect to see the luci interface

**What I actually see**: It redirects to piranha page.

[2019-06-08 16:54] nicopace opened #521 "shared-state is not proposing a neighbour in one direction, but it is in the other"
In QuintanaLibre, happens the following
[code]

shared-state-get_candidates_neigh from roxa shows ql-nicojesigioia, but ql-nicojesigioia doesn't show roxa.

[2019-06-08 17:09] gmarcos87 commented on #521
Whats are the fe80 addresses of ql-roxa?

El sáb., 8 jun. 2019 13:54, Nicolás Pace <notifications@github.com>
escribió:

[2019-06-08 17:09] nicopace opened #522 "shared-state-dnsmasq_leases also touches hosts"
https://github.com/libremesh/lime-packages/blob/master/packages/shared-state-dnsmasq_leases/files/usr/bin/shared-state-publish_dnsmasq_leases#L49

in the quintanalibre network, you can see it in /tmp/shared-state/data/dnsmasq-hosts.json and /tmp/shared-state/data/dnsmasq-leases.json in the node ql-nicojesigioia.

the result is that there are leases in the hosts, and hosts in the leases file, and t

[2019-06-08 17:19] nicopace commented on #521
don't know... but the mac addresses of it are:
[code]

[2019-06-08 17:26] gmarcos87 commented on #521
fe80::14cc:20ff:fead:b06a is filtred becose include ::1. Its a bug in shared-state-get_candidates_neigh

[2019-06-08 18:41] nicopace commented on #521
[code]

[2019-06-09 10:19] G10h4ck commented on #522
I have looked at that thing a couple of days ago, It doesn't seems to me that there are hosts entries in the lease file and leases entries in the hosts file.
What happens is that to have dnsmasq reliably resolve the names of dhcp clients which got the lease from another node you need an host entry for those too, otherwise each node dnsmasq will be able to resolve only static hosts entries plus loc

[2019-06-09 10:19] #522 closed

[2019-06-11 00:55] nicopace opened #527 "lime-apply doesn't apply changes on batman-adv vlan change"
Expected behaviour: after changing batman-adv vlan, and doing `lime-config; lime-apply`, for the vlan to change
Actual behaviour: the vlan doesn't change till you reboot.

Proposed implementation options:
* to reboot the node
* to notice the user that that change won't be applied till reboot
* to reload the module
* any other option?

[2019-06-11 01:03] nicopace opened #528 "list channel_5ghz lime-config error"
Reported by @nicoechaniz:

Setup:
an /etc/config/lime file with a single list channel_5ghz entry in a 5ghz single radio device.

Expected behaviour:
to use the value provided in the config for the only 5ghz radio available.

Actual behaviour:
after doing `lime-config; lime-apply` the config applies a channel 52 to the only 5ghz radio available.

[2019-06-11 12:56] luandro commented on #519
If you're using https://github.com/LibreRouterOrg/openwrt it doesn't come with luci, that might be why.  The images we use in Moinho we've added luci and thisnode.info works fine.

[2019-06-11 13:11] G10h4ck commented on #519
@nicopace as asked earlier in chat, did you tested if it is a matter of thisnode.info being resolved to wrong IP?

[2019-06-12 02:01] nicopace commented on #519
nope, we couldn't test.
will try to test again, as well as the luci thing, but can't promise soon.

[2019-06-12 15:42] ilario commented on #261
Annoying @stalebot  is annoying.
This issue is not stale as it is closely related to these: https://github.com/libremesh/pirania/issues/3 and https://github.com/libremesh/pirania/issues/37

[2019-06-15 14:24] spiccinini commented on #521
Closing as it is fixed!

[2019-06-15 14:24] #521 closed

[2019-06-17 22:02] nicopace opened #533 "shared-state creates an unnecesary file when doing get"
Expected behaviour: for the get to be read-only
Actual behaviour: I called shared-state with a typo (one mispelled letter), and it created a file in /tmp/shared-state/data with that mispelled typo.
[code]

[2019-06-22 19:11] ilario opened #540 "Local .lan domain not easy to use on mobile and on Chrome/Chromium"
The currently in use local domain (FQDN) `.lan` works perfectly when using Firefox on desktop or on mobile.
As [reported by a user on lime-users mailing list](https://lists.libremesh.org/pipermail/lime-users/2019-May/001457.html), on most of the other browsers (I tested Chrome, Chromium, Opera, Samsung Internet Browser) either on desktop or on mobile, when typing `lime-ddeeff.lan` this string is s

[2019-06-22 19:48] spiccinini opened #542 "lime wireless channel config inconsistent order"
We found that at least in one LibreRouter device the channel config is not applied in the same order as the other. So for example wlan1-mesh is channel 157 and not 48 like all the other devices I have seen. Both /etc/config/lime are identical. PCI devices are enumerated in the same way.

This is the part of the config:
[code]

[2019-06-22 21:09] gmarcos87 commented on #542
We need to look at how channel options are being assigned. I also find it not very intuitive in the case of multiple options and a single radio.

[2019-06-22 23:38] nicopace commented on #540
Altermundi also owns the libre.social domain, that i think it is much better suited for this.
There was an approach for this already implemented... can you remember @nicoechaniz @altergui ?

[2019-06-23 09:14] G10h4ck commented on #542
Which channel get each radio is calculated here https://github.com/libremesh/lime-packages/blob/master/packages/lime-system/files/usr/lib/lua/lime/wireless.lua#L117

Basically it depends on the number of the iface so wlanX will take channel that depends on X and how much channels we have in the list of channels `local chanIndex = 1 + radioName:match("%d+$") % #channel` so the order in the list is

[2019-06-23 10:02] ilario commented on #540
@nicopace In #541 I suggested `thisnode.info` also because users already know and remember that, as it is already in use.

[2019-06-24 16:50] ilario commented on #415
Seems that [BMX6 is not going to be included in next release](https://github.com/LibreRouterOrg/openwrt/commit/46525b36892694d118447a42e945b4df7ad09eae) while [Babeld will be](https://github.com/LibreRouterOrg/openwrt/commit/d9be9446aa572efeb2514a30b29685aa9a3cf1d7).

So the current solution in #426 has to be adapted to work with Babeld.
Both [BMX6](https://github.com/libremesh/lime-packages/blob/

[2019-07-10 14:25] spiccinini opened #547 "safe-upgrade without `-n` not working as expected"
It was reported that the automatic reboot didn't work and that the configuration was not backup

[2019-07-28 14:25] #547 closed

[2019-08-01 22:50] ilario commented on #542
The channel which get picked from the list depends on the "radio0", "radio1" assigned names.
Do we know how radioX names gets assigned?
For sure, if a different number of radios is present in one of the routers (e.g. missing the 2.4 GHz one), the names could shift.
If the radioX name is not reliable, what could we use?

[2019-08-02 14:16] ilario commented on #508
Due to tableMelt function in wireless.lua added in eadcc14 and db1c350, the general wifi settings get applied also to specific interface configuration.
So in the next release, this issue will not hold anymore, closing.

[2019-08-02 14:16] #508 closed

[2019-08-02 14:20] ilario commented on #458
Fixed by #459

[2019-08-02 14:20] #458 closed

[2019-08-02 14:23] ilario commented on #430
In #554 I added a comment on this in lime-example, we could consider this fixed after that.

[2019-08-12 10:03] aparcar commented on #501
Please create a PR for Chef, whatever flavor you want is fine with me.

[2019-08-12 10:05] aparcar commented on #501
I once deactivated LibreMesh from Chef as the experience is that terrible, I was told to put it back there by an LiMe dev. Anyway, as I'm currently working on lower OpenWrt layers, I'm fine with anything you find useful.

[2019-08-12 10:17] ilario opened #558 "How to use network-profiles with OpenWrt buildroot compilation method?"
The suggested compilation method has changed over the time (buildroot, lime-build, lime-sdk, buildroot).

With the LibreMesh 17.06 release, communities accepted to use [flavors](https://github.com/libremesh/lime-sdk/blob/develop/flavors.conf) (e.g. lime_default, lime_mini, lime_zero...) and [network-profiles](https://github.com/libremesh/network-profiles) which nicely work with [lime-sdk](https://

[2019-08-14 14:49] ilario commented on #558
The mechanism employed by https://github.com/aparcar/openwrt-metabuilder is to install the network-profiles as packages downloading them from here http://chef.libremesh.org/network-profiles/ or here http://repo.libremesh.org/network-profiles/ I think we should chose one of these and suggest to the users to use it.
The Chef's one?
@aparcar @p4u

[2019-08-15 08:53] spiccinini commented on #558
Thanks Ilario for gathering all this information. I didn't know about network_profiles_builder.

To support network-profiles in _the buildroot way_ I am inclined to do it with a symbolic link to a local network-profiles repository:
[code]
So it is easy for the developer to change the network-profile and rebuild and it is also the way that the buildroot expects to add files to the build. The only c

[2019-08-15 10:47] ilario commented on #558
About network-profiles, is it possible to add a binary repository to the buildroot?
Something like:

[code]

---

In my opinion flavors can be abandoned, people using buildroot can select the list of the packages they need and who uses the [metabuilder](https://github.com/libremesh/lime-packages/pull/560) can customize the example files with a default list of packages.

[2019-08-15 11:19] spiccinini commented on #558
As far as I know it is not posible to use 'binary feeds'.

[2019-08-15 18:01] ilario commented on #558
Ah...
One thing that the packages do and the `files` directory does not do is to manage the dependencies included in the network-profiles (e.g. a community can select just batman-adv packages and nothing else, and doing so selecting the packages in the profile like [here](https://github.com/libremesh/network-profiles/blob/master/trans.hackmeeting.org/L2nodes/PACKAGES)).
@aparcar does [network_prof

[2019-08-17 22:27] ilario commented on #492
5 months have passed, has some documentation been written?
I think I managed to use it in a basic way, but it was not easy: documentation is really needed!!!

[2019-08-25 21:58] nicopace commented on #492
@gmarcos87 did some documentation in spanish of it:
https://mesheando.net/tutoriales/shared-state/

[2019-09-02 14:41] nicopace opened #569 "FirstBootWizard: restarts when you reflash"
How to reproduce:
1. flash a router
2. do the firstbootwizard
3. flash again (without removing config)
4. access to http://thisnode.info

how should it be: you should be greeted with the lime-app

what happens: you are welcomed with the firstbootwizard

[2019-09-05 16:30] #497 closed

[2019-09-05 16:31] gmarcos87 commented on #519
@luandro any new? Or we can close this

[2019-09-05 18:32] luandro commented on #519
Guess we can close right? What happens and is expected is that thisnode.info is directed to Lime App.

[2019-09-05 18:32] #519 closed

[2019-09-05 18:37] gmarcos87 commented on #540
When I was watching a libremesh workshop in Brazil I noticed that they were teaching how to access with the url **nodename.lan**.
In my case I never used because I always specified my own domain in /etc/lime/config or I access through **http://nodename**
I mean that there are already people accustomed to .lan, which being "neutral" in different languages and is definitely shorter.
The only point i

[2019-09-06 10:16] gmarcos87 opened #575 "lime-ap-watchping fail after reboot"
Reading the lime-ap-watchping code I notice that the original ap ssid is stored in /tmp waiting for the internet ping to return (https://github.com/libremesh/lime-packages/tree/master/packages/lime-ap-watchping/files/etc/watchping/autoAP-fail.d)
In the process the /etc/config/wireless configs are replaced.

The problem is that if the node is restarted when it is "down" it loses the original apssid

[2019-09-06 11:35] gmarcos87 opened #577 "Change hardcoded config in auto-usb-wann"
auto-usb-wann uses two values that are currently hardcoded, the ssid to connect to and the password. It would be nice to have a file in /etc/config to configure these values.

[2019-09-06 20:09] aparcar commented on #473
The package is still not available upstream as the compilation requires a special kernel option, which is unlikely to be accepted upstream. Maybe the package shouldn't be a hard dependency for lime-app

[2019-09-06 20:20] gmarcos87 commented on #473
Ok, let me adapt the lime-openairview code so that it only executes the code if the fft-eval package is installed.
I would also like to move fft-eval into a separate repository to keep it available.

[2019-09-06 20:24] aparcar commented on #473
It's available in the openwrt sources, tho not compiled by default

Fri Sep 06 10:20:21 HST 2019 Marcos Gutierrez <notifications@github.com>:

[2019-09-06 21:34] ilario opened #579 "Follow-up of comments on #399 lime-librenet6 package"
Some requests were rised by @G10h4ck on #399 but in #400 the code was merged as it was.
I copy and paste here the comments:

**packages/lime-librenet6/files/etc/tinc/librenet6/tinc-up**

[code]

@G10h4ck
ifconfig is deprecated! Isn't ip installed by default on openwrt at least some minimal version from busybox ?

**packages/lime-librenet6/files/etc/uci-defaults/tinc-setup**

[code]

@G10h4ck
This

[2019-09-06 21:40] aparcar commented on #473
Please let me know once you updated the app. I'll then start building snapshot images.

[2019-09-08 16:17] #415 closed

[2019-09-08 23:31] spiccinini opened #580 "droped packets from babel vlan iface"
When using netperf from a node through the babel interface the throughput is almost 0. Ping does not work when using a size bigger than 1470. Using `mtu = 1496` seems to fix this issue.
To reproduce the problem:
With two LibreRouters. LR-A connected through WAN to "internet". LR-B connected to LR-A with LAN port to LAN port of LR-A. In this scenario pinging from LR-B to internet with ping -s SIZE

[2019-09-08 23:35] spiccinini opened #581 "Lets remove unneded vlans from protocol interfaces"
The scenarios we are using in the networks doesn't need vlans for the protocols. Let's remove them to reduce complexity and bugs (like #580 )

[2019-09-09 00:27] spiccinini opened #582 "shared-state waits for uhttpd for too long"
Sometimes uhttpd accepts the connection but never responds so shared-states doesn't timeout quickly. Restarting uhttpd fix this at least temporarly.

We may think about changing uhttpd + cgi + bash + lua for something else? Maybe OWSD tiny (that has ubus support) ?

[code]

[2019-09-09 17:27] gmarcos87 commented on #473
@aparcar fft-eval is removed in master now

[2019-09-09 17:27] #473 closed

[2019-09-10 09:33] ilario commented on #581
+1
See also discussion on https://lists.libremesh.org/pipermail/lime-dev/2019-August/001144.html and unconfirmed report on https://forum.openwrt.org/t/mediatek-and-vlan-802-1ad-on-ethernet/42346

[2019-09-10 19:56] G10h4ck commented on #580
Grrrrrrrrrrrrr  I saw something similar too in the past and told Felix!! He was reassuring saying that the drivers are capable to handle a few bytes more then the MTU for the sake of vlans... but your experience is not the case as I tought before talking with him...

[2019-09-10 19:57] G10h4ck commented on #581
I agree in removing not neded vlans!

[2019-09-10 19:57] G10h4ck commented on #581
It also would solve the problem with mediatek hardware switches

[2019-09-10 23:13] nicopace opened #589 "FirstBootWizard: doesn't see a network"
What I expect to happen:
* when I open the FirstBootWizard I want to see the existing networks around me. In particular, from ql-roxa want to see ql-nicojesigioia

What I see:
* If I ssh to the node, I can see the adhoc networks provided by the node. If I directly connect to the neighbouring node, I can see that is sharing its lime-defaults file. but if I enter the lime-app firstbootwizard screen

[2019-09-11 00:41] gmarcos87 commented on #589
Nico, I told you, you can't try fbw with quintanalibre. For many reasons, but surely what happened to you is related to the use of TZ channels on the network and not on the new device.

[2019-09-11 00:52] nicopace commented on #589
Awesome, just wanted to keep track of the issue so we were not forgetting it (mainly I)... will dig into it tomorrow...

[2019-09-13 01:26] gmarcos87 opened #590 "bandwidth-test doesn't show help menu"
In this pull-request https://github.com/libremesh/lime-packages/pull/573#discussion_r322632826 we realized that the -h option of the script is not working.

## Expected behavior
Display help menu with both __bandwidth-test -h__ and __bandwidth-test hakuna matata__

## Current Behavior
With either of the two options, it begins to perform bandwidth measurements.

[2019-09-13 09:29] ilario commented on #590
Thanks, I already pushed the fix on my repo but I forgot to do the PR. Doing it now.

[2019-09-13 17:53] #590 closed

[2019-09-17 10:02] ilario commented on #581
So, not needed VLANs are Babeld, BMX*, OLSR* ones, right?
But we would keep the BATMAN-adv one (if I remember correctly, @G10h4ck said that Batman needs to be on an interface by its own, and we use the VLAN=%N1 for breaking the Batman domains in different areas of the networks), right?

[2019-09-17 12:37] spiccinini commented on #581
Yes

Yes. that's right

[2019-09-17 17:51] spiccinini commented on #581
vlan=0 can be used to disable the vlan. I added some fixes for this use in #593

[2019-09-18 10:49] ilario opened #594 "Channel 157 and non-specified country code"
In the [lime-defaults-factory](https://github.com/libremesh/lime-packages/blob/master/packages/lime-system/files/etc/config/lime-defaults-factory) we specify a list of 5 GHz channels as:

[code]

which (for most of the double band routers where phy0 is 2.4 GHz and phy1 is 5 GHz) means that we use just channel 48 (see #542).

The channel 48 works with any country code but the channel 157 does not.

[2019-09-18 15:15] ilario opened #596 "Babeld without VLAN does not run on LAN ethernet ports"
Blocks #581

tl;dr without VLAN, Babeld currently cannot run on ethernet

When instructing Babeld to run on the plain interfaces, without any VLAN, it fails to run on LAN ethernet ports.
The reason is that they lack an IPv6 Link Local address, and they cannot have it as they are included in `br-lan` bridge.

So, just in the case of Babeld witout VLAN, we should run it directly over the br-lan brid

[2019-09-18 15:43] ilario commented on #596
Seems that we could filter packages from and to port 6696.
https://wiki.reseaulibre.ca/documentation/babel/#firewallconfiguration

Do you think that this solution would be too complex to be active by default?
I mean, there is some interest (see #581) to remove the default VLAN from Babeld, do you think it is still worth, now that we discovered this complication?

[2019-09-18 20:51] ilario opened #597 "Consider devices with WAN ethernet port only or no ethernet port"
See comments on #595

I thought this solution, but maybe we'll never use such a device or this is not a good solution?

In network.lua
[code]

[2019-09-19 17:18] spiccinini commented on #596
Thanks @ilario for pointing this out! If it was working good in 17.06 its ok for me using the firewall, I don't know what complications could arise. @G10h4ck  ?

[2019-09-20 15:03] wfleurant commented on #597
Unifi AC Mesh is popular (not just a shameless plug heh)
- https://docs.karlsruhe.freifunk.net/firmware/unifi-ac/
- https://massmesh.org/wiki/index.php?title=Ubiquiti_UAP_AC_Mesh

Some times I want eth0 as a LAN and sometimes as a WAN. This is just a fix for nil table, no?

[2019-09-21 18:06] ilario commented on #597
GL-iNet AR300M-Lite has just a WAN port https://openwrt.org/toh/gl.inet/gl.inet_gl-ar300m-lite#specific_configuration

[2019-09-25 10:22] ilario commented on #596
I started to get it working in #600. It is not ready to merge but it served well for a 3 days event with 70 participants :)

[2019-09-26 08:40] ilario opened #602 "List of 5 GHz channels and one or two radio devices"
The current [implementation of the list of channels](https://github.com/libremesh/lime-packages/blob/69ed489fc771cbd3bd4e0047ba2c926e98304ce8/packages/lime-system/files/usr/lib/lua/lime/wireless.lua#L119-L122) (you can specify a list of wifi channels instead of a single channel, then each radio on the same band should receive a different channel, [currently this is active by default](https://githu

[2019-09-26 09:06] G10h4ck commented on #602
can you show the configuration file?

[2019-09-26 09:22] ilario commented on #602
I don't have the routers with me now, but the lime-defaults was the one from [lime-defaults-factory](https://github.com/libremesh/lime-packages/blob/7cd89460c80008e2cc7d2f1f539cbb0c3f87ece8/packages/lime-system/files/etc/config/lime-defaults-factory#L47-L48) and the example used above is exactly what happened.
This is not surprising as the implementation is using the `wlan#` number for indexing th

[2019-09-26 09:26] G10h4ck commented on #602
With the current implementation either you use radio specific config section, or it behave like you described

[2019-09-26 09:30] ilario commented on #602
Yess, what I mean is that with the _default_ configuration the behaviour should not be this weird.

So, IMHO either we change the implementation of the channels list or we leave just one channel in the _default_ configuration.

[2019-09-28 14:16] ilario commented on #602
@spiccinini @G10h4ck do you think we can implement this feature in a better way?
For example considering either the 5 GHz or the 2.4 GHz radios instead of all of them?

[2019-09-28 17:55] spiccinini commented on #602
Yes, I think a better implementation is to count independently the radios in each band.

[2019-09-30 21:01] ilario opened #604 "Do we need dnsmasq "local=/domainName/" option?"
What happened to me was:
building the network for an event, I used their website name, e.g. `mywebsite.org`, as a domain for the network and the mywebsite.org website was not accessible anymore.

I am not sure this is the correct behaviour (and I should have been using something else as a domain, like `mesh.mywebsite.org`) or if it is an issue to be fixed.

If one sets the option `domain=mywebsite

[2019-10-01 10:17] G10h4ck commented on #604
The documentation on the website is wrong, the one in lime example ok, something like mesh.yourcommunity.net is for what it is intended for that option.

This kind of things happens a lot when the documentation is duplicated around, that is one of the skepticisms I have about creating more documentation platrorms, like github wikis, docuwiki, mediawiki, README etc, the ultimate documentation is in

[2019-10-01 18:52] ilario commented on #604
Ok, see

I agree.

I disagree.
An example of what you say is #573, we'll see how it goes.

[2019-10-02 13:48] gmarcos87 commented on #604
In #573 I'm not trying to generate documentation for the end user but for developers, or even for ourselves. In my opinion, it is easier to approach the code of a package if there is something in the readme. It also helped me to start a path of cleaning and revision that ended with several deprecated packages.
It is not the intention of that documentation to replace what exists in lime-web, it is

[2019-10-02 13:57] #602 closed

[2019-10-02 14:00] #580 closed

[2019-10-03 11:10] ilario commented on #604
It's amazing that there is material for discussion, as we have three different opinions.
But let's do it on lime-users mailing list which is the right place and let's close this issue which has been solved.

[2019-10-03 11:10] #604 closed

[2019-10-03 21:02] ilario opened #606 "Implement easy customization of tests in lime-report"
Currently, lime-report has a few groups of hardcoded tests.
We have to introduce an easy way to customize these tests.
One option is to create some directories (one for each type of tests) filled with files, each file includes a one-command shell script, lime-report runs them all and collects the output from these files.
For more details, see the discussion on: #556

[2019-10-03 21:09] ilario commented on #558
So, network_profiles_builder do create valid makefiles and packages' sources.
In order to use them as a feed, we need to put these packages in a git repository (the feeds have to be either on the local drive or, if they are online, on a control version system) and to copy this on some server. This can be done via a continuous integration bot.
The only bit of the network-profiles that will not work

[2019-10-03 21:22] ilario commented on #575
Funnily enough, the script sets an UCI option but the `uci commit` command is missing.
So the new option is being applied by the `wifi` command but it does not get saved in the `/etc/config/wireless`.
Can you confirm? Can we close this?
Anyway I suspect nobody is using this package.

[2019-10-03 21:24] ilario commented on #542
@spiccinini can you check if, using that same router, the problem is still present even after the merge of #603?

[2019-10-03 21:27] ilario commented on #528
Waht...?
Can anyone check if this happens also after the merge of #603?

[2019-10-03 21:31] ilario commented on #527
`lime-apply` is currently useless as it is extremely outdated.
We should either include more stuff or delete it.
Regarding the VLAN change, I suppose (but I didn't test) that a
`/etc/init.d/network restart`
could do it.

[2019-10-03 21:36] gmarcos87 commented on #527
I can't reproduce this bug, lime-config and lime-apply change batman vlan successfully

[2019-10-03 21:42] ilario opened #607 "Update lime-basic or remove it"
This is mainly a reminder: we have to update [lime-basic Makefile](https://github.com/libremesh/lime-packages/blob/master/packages/lime-basic/Makefile) in the master branch to the minimal set of packages required to run our next stable release (19.something).
The full list of suggested packages can be found [in the development page on the website](https://libremesh.org/development.html).
Otherwise

[2019-10-03 21:42] ilario commented on #512
We should update lime-basic (see #607) or delete it. Anyway the "dependency hell" is solved. Closing.

[2019-10-03 21:48] ilario opened #608 "Update build instructions on readme"
In the readme the suggested compilation methods are outdated.

Chef is temporarily not supporting LibreMesh.
lime-sdk is broken by various issues and core developers are not maintaining it anymore.
OpenWrt buildroot instructions should be removed and just a link to the [development page on the website](https://libremesh.org/development.html) should be present there.

We should consider whether to

[2019-10-03 21:49] ilario commented on #501
Chef is temporarily (?) not including compilation options for LibreMesh. Closing.

[2019-10-03 21:49] #501 closed

[2019-10-03 21:56] ilario commented on #483
I recall I saw some network-profiles doing this in a brutal brutal way:

https://github.com/libremesh/network-profiles/blob/07eb7730bc8bd66471cfc21d74ab0ab5ef686e5f/trans.hackmeeting.org/L2nodes/etc/uci-defaults/disable_dhcp#L4-L10

https://github.com/libremesh/network-profiles/blob/07eb7730bc8bd66471cfc21d74ab0ab5ef686e5f/trans.hackmeeting.org/L2nodes/PACKAGES#L3-L5

Would it be an ok solution fo

[2019-10-03 22:10] ilario commented on #475
Currently `luci-lib-json` is mentioned [in the Makefile of 5 packages](https://github.com/libremesh/lime-packages/search?q=luci-lib-json) but [it gets imported by 9 packages](https://github.com/libremesh/lime-packages/search?q=%22luci.json%22) (???) and actually used by 8 ([lime-fbw](https://github.com/libremesh/lime-packages/blob/fd543f9b03b5be054012f360ac1ab7e22d4c3d2a/packages/ubus-lime-fbw/fil

[2019-10-04 04:11] kleper commented on #483
Yes, this configuration works well for me.
Thank you very much.

[2019-10-04 04:11] #483 closed

[2019-10-04 07:58] ilario commented on #433
@nicopace do you mean all the luci* dependencies?

[2019-10-04 08:06] ilario commented on #432
This seems solved to me, please re-open if I'm wrong.

[2019-10-04 08:06] #432 closed

[2019-10-04 08:10] ilario commented on #431
As the next release will be based, by default, on Babeld+Batman-adv rather than BMX6+Batman-adv, I think this became a low importance issue.
Still, images with BMX6 can be compiled and used, so if anyone wants to dig into this issue, is welcome!

[2019-10-04 08:10] #431 closed

[2019-10-04 08:14] ilario commented on #430
I think these comments are still valid.
This change should be reflected in the lime-app interface also.
Maybe it's not worth it and we should just leave things like they are now?
Opinions? @nicopace @spiccinini @G10h4ck @gmarcos87

[2019-10-04 10:04] ilario commented on #429
Seems that there is very little interest on this, maybe I'm the only one needing this :) Closing.

[2019-10-04 10:04] #429 closed

[2019-10-04 10:06] ilario commented on #424
@aparcar @G10h4ck why isn't this package also in master branch? Has it been obsoleted by something else?

[2019-10-04 10:18] G10h4ck commented on #424
I requested modification in the PR, but they where never made. It is in the other branch because @nicopace merged it by error and we never reverted it

[2019-10-04 10:18] ilario commented on #403
From the discussion, looks like we should close this issue as the mobile phones does not like at all fake announcements of internet connectivity.

[2019-10-04 10:22] #403 closed

[2019-10-04 10:39] ilario commented on #93
To address this case we should just improve watchping to download a small file from some reliable server (like https://fedoraproject.org/static/hotspot.txt or http://network-test.debian.org/nm or http://networkcheck.kde.org/ or http://start.ubuntu.com/connectivity-check.html or the empty http://connectivity-check.ubuntu.com) rather than using ICMP ping (or replace watchping with some better tool).

[2019-10-04 10:46] ilario commented on #303
As Babeld will replace BMX* in the next 19.something release, this issue became a low priority one.
I have no idea if a similar feature is already present or should be added using Babeld.
Clearly, LibreMesh firmware including BMX* can be generated, so any help on this is welcomed but I'll close as it's not a must-have right now.

[2019-10-04 10:46] #303 closed

[2019-10-04 10:46] ilario commented on #390
Closing, see comments on #303 (shortly, if we don't ship BMX* by default, this issue has a very low priority).

[2019-10-04 10:46] #390 closed

[2019-10-04 11:01] ilario commented on #424
Got it, you refer to the merge of #400.
Your comments are in an open issue on #579

[2019-10-04 11:01] ilario commented on #579
Another issue to be fixed in lime-librenet6 is #424

[2019-10-04 11:06] ilario commented on #375
Seems that we gave up on this, as after years we still use dnsmasq.
Good thing is that dnsmasq seems more stable now.
I'm closing, please re-open if I'm wrong and this is still an open issue.

[2019-10-04 11:06] #375 closed

[2019-10-04 11:11] ilario commented on #527
Ok, closing.
On lime-apply being useful or not, see discussion on #352.

[2019-10-04 11:11] #527 closed

[2019-10-04 11:16] ilario commented on #352
Update (reading comments above, seems that alfred and bmx* stuff is not needed anymore, we can delete that. And we should check if stuff is missing) or drop (just rebooting for applying the new configuration)?

[2019-10-04 11:18] ilario commented on #369
[shared-state](https://github.com/libremesh/lime-packages/tree/master/packages/shared-state) has been implemented 7 months ago and replaces Alfred. Closing.

[2019-10-04 11:18] #369 closed

[2019-10-04 11:20] ilario commented on #367
This issue is not clearly defined, I'm closing. Please feel free to re-open explaining it better. If it was actually a duplicate of #429, please reopen that issue instead of this one.

[2019-10-04 11:20] #367 closed

[2019-10-04 12:17] gmarcos87 commented on #430
Ok, that's one option the other is to have an ap_ssid as fallback in lime-defaults or lime-default-factory

[2019-10-04 13:30] ilario commented on #429
I forgot that also @nicopace with #367 seems to be interested on this.
Is it correct?

[2019-10-04 14:37] ilario commented on #346
As this seems to be BMX6 related and quite old issue, I'm closing.

[2019-10-04 14:37] #346 closed

[2019-10-04 14:46] ilario opened #609 "Redirect from LuCI to lime-app not working"
I am not experienced with lime-app, but when I open thisnode.info what I get is just this:

![Screenshot from 2019-10-04 16-44-31](https://user-images.githubusercontent.com/1329018/66216741-4f4efb00-e6c6-11e9-977f-3a54f78d5a71.png)

and I have to explicitly include `/app` in the URL in order to get the FirstBootWizard or the app.
What am I doing wrong?
I compiled following the instructions [on the

[2019-10-04 14:53] ilario commented on #609
I have luci-basic as it is a dependency of `luci-lib-libremap` which is selected by `libremap-agent` which is selected by `lime-map-agent` (see also #433), could it be the problem?

[2019-10-04 14:58] ilario commented on #433
Maybe I got what you mean (investigating on #609): `luci-basic` is a dependency of `luci-lib-libremap` which is selected by `libremap-agent` which is selected by `lime-map-agent`.
Which point of this chain has to be broken?

[2019-10-04 15:15] ilario commented on #331
Update: the list of conditional dependencies currently included in the master branch is:

[code]

[2019-10-04 15:45] suarezwilliamf opened #610 "if the kernel needs to kill a process, trigger a reboot"
it may happen that because the device is running out of memory the kernel, using omkiller, may want to kill some processes.
the libremesh experience depends on many processes, so we should monitor their uptime or reboot them directly.
(this is @nicopace by the way :) )

[2019-10-04 16:07] ilario commented on #325
@aparcar @gmarcos87 what is missing?

[2019-10-04 16:09] ilario commented on #360
This issue is related to the LuCI web interface, right?
In the next 19.something release we're going to ship lime-app by default (seems) and there's no language selection menu there.
Correct me if I'm wrong and feel free to re-open.

[2019-10-04 16:09] #360 closed

[2019-10-04 16:15] ilario commented on #300
11 months without updates, maybe the issue is already fixed?
Closing.

[2019-10-04 17:16] ilario opened #611 "Show lime-app notes in SSH login banner"
In lime-app, one can [set some notes](https://github.com/libremesh/lime-packages/blob/01cb5d528160e94081c9d9b5fd2b8ac249d4960a/packages/ubus-lime-utils/files/usr/libexec/rpcd/lime-utils#L142-L154) for each device.
These notes should be printed to the users connecting via SSH together with the OpenWrt and LibreMesh banners.
The notes are already saved in `/etc/banner.notes`, but they are not printe

[2019-10-04 17:26] ilario commented on #375
Just realized that this was a duplicate of #294 and was being addressed by @aparcar in #379

[2019-10-04 17:27] ilario commented on #294
There was also a duplicate in #375 and a pending PR in #379.
Are we still interested in this? @G10h4ck @nicopace @spiccinini @gmarcos87 @altergui
Currently dnsmasq seems to work just fine...

[2019-10-04 17:32] ilario commented on #327
I just tested lime-app (see also #609), it is very cool and looks powerful but I cannot yet use it at 100%.

From the list in the first comment, what is more important and still missing is (in my opinion):

* set admin password (in my case, extremely dangerous as the WAN port of my router is directly accessible from the internet, repeating the [issue we had more than 2 years ago](https://lists.lib

[2019-10-04 17:34] ilario commented on #281
Also in my experience, this looks automagically solved, and it's a really good thing. Closing.

[2019-10-04 17:34] #281 closed

[2019-10-04 17:37] ilario commented on #312
lime-app has a method for setting a new IPv4 which did not work when I tried it (see #327)
Anyway, @gmarcos87 @nicopace does it check if the IPv4 is valid or if the output of lime-config contains errors?

[2019-10-04 17:46] ilario commented on #582
There is some timeout option in shared-state [here](https://github.com/libremesh/lime-packages/blob/master/packages/shared-state/files/usr/lib/lua/shared-state.lua#L182-L183), maybe we should check out if we miss some more timeout option?
Otherwise, we can kill the process after some time, I did this in a very dirty way in bandwidth-test package [here](https://github.com/libremesh/lime-packages/bl

[2019-10-04 17:57] ilario commented on #280
This would be very good to have, is there any update?
The work with liblognorm in LibreMesh can be found [here](https://github.com/libremesh/lime-log-review).

[2019-10-04 18:07] ilario commented on #325
[luci-app-attendedsysupgrade](https://github.com/openwrt/luci/tree/openwrt-18.06/applications/luci-app-attendedsysupgrade) is already present in OpenWrt 18.06 and there's also stuff related to ubus that I don't understand in the [attendedsysupgrade-common](https://github.com/openwrt/packages/tree/openwrt-18.06/utils/attendedsysupgrade-common) package which is also included in OpenWrt 18.06.

[2019-10-04 18:53] ilario opened #612 "Homogenize adhoc_ssid between FirstBootWizard and lime-defaults-factory"
adhoc_ssid in FirstBootWizard code and in lime-defaults-factory should be identical and they are not.
See
https://github.com/libremesh/lime-packages/blob/e9efbea1003c8e333f5d34c220274d13d0ce5550/packages/first-boot-wizard/files/usr/lib/lua/firstbootwizard.lua#L283
and
https://github.com/libremesh/lime-packages/blob/18c8aa59ec14bf8a2e82f72b0b761194d525213c/packages/lime-system/files/etc/config/lime

[2019-10-04 18:56] ilario opened #613 "Consider including wpad-mesh-wolfssl and update lime-example"
Currently we ship images with just wpad-mini.
This means that one willing to have encryption over the ieee802.11s mesh connections has to install additional packages.
This is incorrectly documented in lime-example: [wpad-mesh](https://github.com/libremesh/lime-packages/blob/18c8aa59ec14bf8a2e82f72b0b761194d525213c/packages/lime-docs/files/lime-example#L88) should be replaced by wpad-mesh-wolfssl o

[2019-10-04 19:05] ilario commented on #268
I think that after @aparcar comment, we can move the discussion on whether include wpad-mesh-wolfssl by default, see #613. Closing this.

[2019-10-04 19:05] #268 closed

[2019-10-04 19:08] ilario commented on #265
Up to now, seems that watchping will not be included in the next 19.something release, so I would close this.
Out of curiosity, wouldn't watchping eventually realise that the connection appeared?

[2019-10-04 19:08] #265 closed

[2019-10-04 19:17] ilario commented on #262
For some reason, lime-smart-wifi is not being included in the next release.
In my opinion we could even include something like this (I have no idea if it is already possible, @G10h4ck @spiccinini @nicopace @gmarcos87 ?) in the lime-defaults-factory:

[code]

Which means: use 2.4 GHz radios both for AP and for mesh but keep 5 GHz radios just for mesh.
It is not "smart" but it is the generic configu

[2019-10-04 19:19] ilario commented on #257
Updates? Is this issue fixed?

[2019-10-04 19:37] ilario commented on #253
Skimming through https://www.networkcomputing.com/wireless-infrastructure/wifi-fast-roaming-simplified also seems that this option is designed for working with WPA2 Enterprise.
I cannot find if it can be useful for open networks.
@nordurljosahvida can you provide some link about 802.11r on open networks?
In the meanwhile I'll close this.

[2019-10-04 19:37] #253 closed

[2019-10-04 19:48] G10h4ck commented on #262
are you sure it is not possible already?

[2019-10-04 19:49] ilario commented on #227
This has been solved long time ago using continuous integration publishing compiled packages here:
https://snapshots.libremesh.org/packages/
Closing.

[2019-10-04 19:49] #227 closed

[2019-10-04 19:50] ilario commented on #195
@gmarcos87 do you think it's a good or a bad idea to have a documentation tab in the lime-app?

[2019-10-04 20:05] ilario commented on #172
The original question from @FreifunkUFO was about LibreMesh1 WAN to LibreMesh2 LAN cable connection. This is an absolute don't-do. Maybe more documentation is missing saying that you should not add an unnecessary NAT in the middle of a LibreMesh network? Anyway I see no easy way for a LibreMesh WAN port to recognize that the neighbour is another LibreMesh router.

The issue observed by @nordurljos

[2019-10-04 20:05] #172 closed

[2019-10-04 20:08] ilario commented on #262
Yesss, if you check the line I linked in wireless.lua, this one
https://github.com/libremesh/lime-packages/blob/18c8aa59ec14bf8a2e82f72b0b761194d525213c/packages/lime-system/files/usr/lib/lua/lime/wireless.lua#L101

you'll notice that the modes are gathered from a list named "modes" without the possibility to have modes_2ghz or modes_5ghz.
In my opinion it is worth to expand that line to use the t

[2019-10-04 20:22] ilario commented on #171
I copy @nicopace: help on this issue is welcome but as by default we'll not include LuCI in the 19.something release, this issue has low priority.
Closing.

[2019-10-04 20:22] #171 closed

[2019-10-04 20:23] ilario commented on #158
Help on this is welcome, but has low priority as we'll move from LuCI to lime-app. Closing.

[2019-10-04 20:23] #158 closed

[2019-10-04 20:51] gmarcos87 commented on #262
Currently it is possible to whit diferents radios.
You can have the 2ghz radios in adhoc and the 5ghz radios in mesh. I usually do it to "hunt" nodes that were misconfigured in our network.

[2019-10-04 21:24] ilario commented on #193
Sorry, it is not a duplicate.
I think I got it better now: instead of just

[code]

which requires a static IP, you want also something new like

[code]

it is interesting.

I think that the easiest way to do this is to specify a CNAME for dnsmasq into `/etc/config/dhcp` as described [here](https://openwrt.org/docs/guide-user/base-system/dhcp_configuration#cname_rr).

[code]

should we document th

[2019-10-04 21:29] ilario commented on #150
We're discussing whether to just stay with dnsmasq on #294.
Let's re-open this in case we decide to actually put effort into the migration.

[2019-10-04 21:29] #150 closed

[2019-10-04 21:41] ilario commented on #193
How could we propagate these CNAME records using shared-state @G10h4ck?

[2019-10-04 21:43] ilario commented on #262
@gmarcos87 the proposal was to include such configuration in the lime-defaults-factory file, without using interface specific configuration, in order to have a more rational setup and higher performances.
I suppose that what you do, you do it with interface specific configuration?

[2019-10-04 21:48] ilario commented on #144
Cotonete was removed from lime-packages with #584, its new house (if anyone wanted to contribute) is: https://github.com/nicopace/cotonete

@nicopace do you have a more detailed report on this?

[2019-10-04 21:58] ilario commented on #132
From *inside* of the network it already works.
What @FreifunkUFO writes is related to the possibility to access the host from outside of the network (internet) and is the object of #133.
Closing this.

[2019-10-04 21:59] ilario commented on #133
It would be amazing to help the communities to publish to the internet their internal services, let's go on with this!

[2019-10-04 22:00] ilario commented on #134
The collection of logs is part of https://github.com/libremesh/lime-log-review but we still have to discuss on how to collect these logs.
Does it make sense to do it with a Prometheus exporter?

[2019-10-04 22:09] #132 closed

[2019-10-04 22:10] ilario commented on #128
With the migration to lime-app, this issue has a very low priority.
Closing.

[2019-10-04 22:10] #128 closed

[2019-10-04 22:12] ilario commented on #109
To know if the presence of multiple interfaces (and nodes or clients connected to it) affects the performances would be very useful also for discussing the optimal setup in #262.

[2019-10-04 22:14] ilario commented on #103
I think it would be an interesting feature to have, but it makes no sense to solve it on a LibreMesh level as it is an OpenWrt thing.
Can we close?

[2019-10-04 22:15] ilario commented on #100
As @aparcar wrote more than one year ago, this is the work of FirstBootWizard. Closing.

[2019-10-04 22:15] #100 closed

[2019-10-04 22:18] #92 closed

[2019-10-04 22:21] ilario commented on #76
@gmarcos87 can [pirania](https://github.com/libremesh/pirania) be used also as a simple splash page (like a "welcome to my network" page) without any ticketing system?

[2019-10-04 22:24] ilario commented on #66
See related #93 and [my comment on that issue](https://github.com/libremesh/lime-packages/issues/93#issuecomment-538345915).

[2019-10-05 08:13] ilario commented on #244
A related discussion will go on on libremesh/pirania#3, libremesh/pirania#37, and #261

[2019-10-05 08:24] ilario commented on #237
If we decide to put more effort in safe-reboot, let's remember also of the issue killed by the annoying @stalebot #238

[2019-10-05 08:46] ilario commented on #236
Annoying @stalebot closed this, but in my opinion is a possible-to-solve issue.
I mean, this happens because the clients receive a default IPv6 route, even if on the router there is none, we have to understand why this happens.

On an isolated LibreMesh router (not connected to other nodes), the IPv6 routes are like this:

[code]
as you can see, there is no default route.

But on my laptop, connec

[2019-10-05 08:47] ilario commented on #219
See #430

[2019-10-05 20:24] bharrod321 commented on #608
I made the requested change above and have a pending pull request.  This is my first time doing something like this.  Please let me know if I did anything incorrect.

Thank you.

[2019-10-06 21:32] ilario commented on #608
Thanks @bharrod321!!
May I ask you the following changes?

* lime-sdk is not recommended anymore, can you remove the phrase "either using the easy to use
[lime-sdk][2] tool (recommended) or manually " and also the link number 2 at the bottom of the document?
* can you remove also the whole section titled "### Using lime-sdk"?
* in the development page on the website there are updated instructions

[2019-10-07 09:16] Nikerabbit commented on #257
No updates from my side. Are further clarifications needed?

[2019-10-07 15:17] nicopace commented on #257
Yes! Thanks for reaching out. Will be writing to you hopefully this week.

El 7 de octubre de 2019 4:16:37 GMT-05:00, "Niklas Laxström" <notifications@github.com> escribió:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2019-10-07 22:17] #423 closed

[2019-10-07 22:20] spiccinini commented on #542
I don't haver that router at hand anymore and also reproducing this was not consistent. The other it happened and then I tried to reproduce it in many ways (like doing a first_boot) but I could not.